<div ng-cloak>
    <h1 class="text-center">Expert Animal identification</h1>

    <div ng-show="errorMsg === true">
        <p class="text-center">
            Sorry, no image is available to you in this game mode at this time.
        </p>
        <div style="width: 25%; margin: 0 auto;">
            <a class="btn btn-primary btn-lg" ui-sref="home" style="width: 100%;">Back to the menu</a>
        </div>
    </div>

    <div id="controls" class="ol-control control-panel" ng-show="errorMsg === false">
        <button type="button" ng-show="displayControls" ng-click="displayControls = !displayControls">&#x25B2;</button>
        <button type="button" ng-hide="displayControls" ng-click="displayControls = !displayControls">&#x25BC;</button>

        <div ng-show="displayControls">
            <div style="width: 300px;">
                <div class="btn-group btn-group-justified">
                    <label class="btn blue" style="border-bottom-left-radius: 0px;" ng-model="radioModel.selected" btn-radio="'Snail'" uncheckable>
                        <span class="glyphicon glyphicon-pencil" ng-show="radioModel.selected === 'Snail'"></span>
                        Snail
                    </label>
                    <label class="btn green" style="border-bottom-right-radius: 0px;" ng-model="radioModel.selected" btn-radio="'Mussel'" uncheckable>
                        <span class="glyphicon glyphicon-pencil" ng-show="radioModel.selected === 'Mussel'"></span>
                        Mussel
                    </label>
                </div>
                <div class="btn-group btn-group-justified">
                    <label class="btn yellow" style="border-top-left-radius: 0px;" ng-model="radioModel.selected" btn-radio="'Crab'" uncheckable>
                        <span class="glyphicon glyphicon-pencil" ng-show="radioModel.selected === 'Crab'"></span>
                        Crab
                    </label>
                    <label class="btn purple" style="border-top-right-radius: 0px;" ng-model="radioModel.selected" btn-radio="'Burrow'" uncheckable>
                        <span class="glyphicon glyphicon-pencil" ng-show="radioModel.selected === 'Burrow'"></span>
                        Burrow
                    </label>
                </div>
            </div>

            <hr/>

            <div style="margin: 0 auto; width: 128px; height: 128px; background-color: lightgrey;">
                <img ng-show="radioModel.selected !== null" ng-src="images/animals/{{radioModel.selected}}.jpg" />
            </div>

            <hr/>

            <accordion>
                <accordion-group is-open="true">
                    <accordion-heading>
                        Features<span class="badge pull-right">{{snails.length + mussels.length + crabs.length + burrows.length}}</span>
                    </accordion-heading>
                    <div class="list-group" style="overflow: auto; height: 175px;">
                        <a ng-repeat="burrow in burrows" class="list-group-item"
                           ng-mouseenter="highlightFeature('Burrow',$index,true)"
                           ng-mouseleave="highlightFeature('Burrow',$index,false)"
                           ng-click="panToFeature('Burrow',$index)">
                            Burrow-{{$index}}
                            <label class="btn btn-xs btn-danger pull-right tag" ng-click="removeFeature('Burrow',$index)">
                                <span class="glyphicon glyphicon-remove-sign"></span>
                            </label>
                        </a>
                        <a ng-repeat="crab in crabs" class="list-group-item"
                           ng-mouseenter="highlightFeature('Crab',$index,true)"
                           ng-mouseleave="highlightFeature('Crab',$index,false)"
                           ng-click="panToFeature('Crab',$index)">
                            Crab-{{$index}}
                            <label class="btn btn-xs btn-danger pull-right tag" ng-click="removeFeature('Crab',$index)">
                                <span class="glyphicon glyphicon-remove-sign"></span>
                            </label>
                        </a>
                        <a ng-repeat="mussel in mussels" class="list-group-item"
                           ng-mouseenter="highlightFeature('Mussel',$index,true)"
                           ng-mouseleave="highlightFeature('Mussel',$index,false)"
                           ng-click="panToFeature('Mussel',$index)">
                            Mussel-{{$index}}
                            <label class="btn btn-xs btn-danger pull-right tag" ng-click="removeFeature('Mussel',$index)">
                                <span class="glyphicon glyphicon-remove-sign"></span>
                            </label>
                        </a>
                        <a ng-repeat="snail in snails" class="list-group-item"
                           ng-mouseenter="highlightFeature('Snail',$index,true)"
                           ng-mouseleave="highlightFeature('Snail',$index,false)"
                           ng-click="panToFeature('Snail',$index)">
                            Snail-{{$index}}
                            <label class="btn btn-xs btn-danger pull-right tag" ng-click="removeFeature('Snail',$index)">
                                <span class="glyphicon glyphicon-remove-sign"></span>
                            </label>
                        </a>
                    </div>
                </accordion-group>
            </accordion>

            <hr/>

            <div>
                <a class="btn btn-default" ng-click="submit()">Submit</a>
            </div>
        </div>
    </div>

    <div id="options" class="ol-control options-panel">
        <button type="button" ng-show="displayOptions" ng-click="displayOptions = !displayOptions" style="float: right;">
            <span class="glyphicon glyphicon-triangle-top"></span>
        </button>
        <button type="button" ng-hide="displayOptions" ng-click="displayOptions = !displayOptions" style="float: right;">
            <span class="glyphicon glyphicon-triangle-bottom"></span>
        </button>
        <div ng-show="displayOptions" style="clear: both;">
            <ul class="list-unstyled">
                <li ng-show="crabs !== undefined">
                    <input type="checkbox" id="crabsCheckbox" ng-model="showCrab"><label for="crabsCheckbox">Show crabs</label>
                </li>
                <li ng-show="burrows !== undefined">
                    <input type="checkbox" id="burrowsCheckbox" ng-model="showBurrow"><label for="burrowsCheckbox">Show burrows</label>
                </li>
                <li ng-show="mussels !== undefined">
                    <input type="checkbox" id="musselsCheckbox" ng-model="showMussel"><label for="musselsCheckbox">Show mussels</label>
                </li>
                <li ng-show="snails !== undefined">
                    <input type="checkbox" id="snailsCheckbox" ng-model="showSnail"><label for="snailsCheckbox">Show snails</label>
                </li>
            </ul>
        </div>
    </div>

    <div>
        <div id="map" class="map" style="background-color: #9DA9A5;"></div>
    </div>
</div>
