<div ng-cloak>

    <img src="images/ludecol-banner.jpg" style="width:100%; margin-bottom: 20px;">

    <div ng-switch="isAuthenticated()">
        <div class="row">
            <div class="well col-md-offset-3 col-md-6">
                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#addImagesModal" ng-click="clear()">
                    <span class="glyphicon glyphicon-plus"></span> <span>Add images</span></button>
                <pagination boundary-links="true" total-items="totalItems" items-per-page="itemsPerPage"
                            ng-change="loadPage()" ng-model="currentPage" class="pagination" previous-text="&lsaquo;"
                            next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
                <div style="text-align: justify;">
                    <div ng-repeat="image in images" style="display: inline-block; margin: 50px; position: relative;">
                        <a data-toggle="modal" data-target="#editImageModal" ng-click="setCurrentImage($index)">
                            <img ng-src="/images/{{image.image_set}}/thumbnail/thumbnail.{{image.name}}.JPG">
                            <p>{{image.name}}</p>
                        </a>
                        <button type="button" class="close" style="float: none; position: absolute; top: -10px; right: -10px;" ng-click="delete($index)">
                            <span class="glyphicon glyphicon-remove-sign"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="addImagesModal" tabindex="-1" role="dialog" aria-labelledby="addImagesLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="addForm" role="form" novalidate ng-submit="add()" show-validation>
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="addImagesLabel">Add images to an image set</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>Images to upload</label>
                            <input type="file" name="input" multiple file-model="files" style="color: transparent;">
                        </div>

                        <div class="form-group">
                            <label>Rows</label>
                            <input type="number" name="rows" required ng-model="rows">
                            <div ng-show="addForm.rows.$invalid">
                                <p class="help-block" ng-show="addForm.rows.$error.required">
                                    This field is required.
                                </p>
                            </div>
                            <label>Columns</label>
                            <input type="number" name="cols" required ng-model="cols">
                            <div ng-show="addForm.cols.$invalid">
                                <p class="help-block" ng-show="addForm.cols.$error.required">
                                    This field is required.
                                </p>
                            </div>
                        </div>

                        <div class="form-group">
                            <button type="button" class="btn btn-default" ng-click="clearUploaded()" ng-disabled="uploadedFiles.length === 0">
                                Remove uploaded files
                            </button>
                            <div class="list-group" style="height: 300px; overflow: auto;">
                                <a href="#" class="list-group-item list-group-item-success" ng-repeat="file in uploadedFiles">
                                    {{file.name}}
                                    <span class="glyphicon glyphicon-ok pull-right"></span>
                                </a>
                                <a href="#" class="list-group-item list-group-item-warning" ng-show="currentFile !== null">
                                    {{currentFile.name}}
                                    <span class="glyphicon glyphicon-remove pull-right" ng-click="currentFile = null"></span>
                                </a>
                                <a href="#" class="list-group-item list-group-item-info" ng-repeat="file in filesToUpload">
                                    {{file.name}}
                                    <span class="glyphicon glyphicon-remove pull-right" ng-click="filesToUpload.splice($index,1)"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Close</span>
                        </button>
                        <button type="submit" ng-disabled="filesToUpload.length === 0" class="btn btn-primary">
                            <span class="glyphicon glyphicon-plus"></span>&nbsp;<span>Add</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="editImageModal" tabindex="-1" role="dialog" aria-labelledby="editImageLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="editForm" role="form" novalidate ng-submit="submit()" show-validation>
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="editImageLabel">Edit image {{currentImage.name}}</h4>
                    </div>
                    <div class="modal-body" style="height: 600px; overflow: auto;">

                        <div class="form-group">
                            <!--<label>Image preview</label>-->
                            <button type="button" class="btn btn-default" ng-click="showPreview(true)" ng-show="!previewing">
                                Show image preview
                            </button>
                            <button type="button" class="btn btn-default" ng-click="showPreview(false)" ng-show="previewing">
                                Hide image preview
                            </button>
                            <div id="preview" ng-class="previewing ? 'well' : ''"></div>
                        </div>

                        <div class="form-group">
                            <label>Game modes</label>
                            <div ng-repeat="mode in modes" class="row">
                                <div class="col-md-10 col-md-offset-1">
                                    <label>{{mode.name}}</label>
                                    <div class="btn-group btn-group-justified" ng-hide="mode.state === 'PROCESSED'">
                                        <label class="btn btn-default" ng-model="mode.state" btn-radio="'UNAVAILABLE'">
                                            Unavailable
                                        </label>
                                        <label class="btn btn-default" ng-model="mode.state" btn-radio="'NOT_PROCESSED'">
                                            Not processed
                                        </label>
                                        <label class="btn btn-default" ng-model="mode.state" btn-radio="'IN_PROCESSING'">
                                            In processing
                                        </label>
                                    </div>
                                    <div class="btn-group btn-group-justified" ng-show="mode.state === 'PROCESSED'">
                                        <label class="btn btn-default" disabled>
                                            Processed
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Flora species</label>
                            <div class="row">
                                <div class="col-md-10 col-md-offset-1">
                                    <div class="btn-group btn-group-justified">
                                        <label class="btn btn-default" ng-model="floraModel.Batis" btn-checkbox>Batis</label>
                                        <label class="btn btn-default" ng-model="floraModel.Borrichia" btn-checkbox>Borrichia</label>
                                        <label class="btn btn-default" ng-model="floraModel.Juncus" btn-checkbox>Juncus</label>
                                    </div>
                                    <div class="btn-group btn-group-justified">
                                        <label class="btn btn-default" ng-model="floraModel.Limonium" btn-checkbox>Limonium</label>
                                        <label class="btn btn-default" ng-model="floraModel.Salicornia" btn-checkbox>Salicornia</label>
                                        <label class="btn btn-default" ng-model="floraModel.Spartina" btn-checkbox>Spartina</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Fauna species</label>
                            <div class="row">
                                <div class="col-md-10 col-md-offset-1">
                                    <div class="btn-group btn-group-justified">
                                        <label class="btn btn-default" ng-model="faunaModel.Burrow" btn-checkbox>Burrow</label>
                                        <label class="btn btn-default" ng-model="faunaModel.Crab" btn-checkbox>Crab</label>
                                        <label class="btn btn-default" ng-model="faunaModel.Mussel" btn-checkbox>Mussel</label>
                                        <label class="btn btn-default" ng-model="faunaModel.Snail" btn-checkbox>Snail</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Close</span>
                        </button>
                        <button type="submit" class="btn btn-primary">
                            <span class="glyphicon glyphicon-plus"></span>&nbsp;<span>Save</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
