<div ng-cloak>
    <h1 class="text-center">Animal Identification Practice</h1>

    <div ng-show="errorMsg === true">
        <p class="text-center">
            Sorry, no image is available to you in this game mode at this time.
        </p>
        <div style="width: 25%; margin: 0 auto;">
            <a class="btn btn-primary btn-lg" ui-sref="home" style="width: 100%;">Back to the menu</a>
        </div>
    </div>

    <div id="controls" class="ol-control control-panel" ng-show="errorMsg === false">
        <button type="button" ng-show="displayControls" ng-click="displayControls = !displayControls">&#x25B2;</button>
        <button type="button" ng-hide="displayControls" ng-click="displayControls = !displayControls">&#x25BC;</button>

        <div ng-show="displayControls">
            <div style="width: 300px;">
                <div class="btn-group btn-group-justified">
                    <label class="btn blue" style="border-top-right-radius: 0px;border-bottom-left-radius: 0px;border-bottom-right-radius: 0px;"
                           ng-model="radioModel.selected" btn-radio="'Snail'" uncheckable ng-disabled="scoreboard.animals.Snail === undefined">
                        <span class="glyphicon glyphicon-pencil" ng-show="radioModel.selected === 'Snail'"></span>
                        <span class="glyphicon glyphicon-thumbs-up" ng-show="isCompleted('Snail')"></span>
                        <span class="glyphicon glyphicon-lock" ng-show="scoreboard.animals.Snail === undefined"></span>
                        Snail
                    </label>
                    <label class="btn green" style="border-top-left-radius: 0px;border-bottom-left-radius: 0px;border-bottom-right-radius: 0px;"
                           ng-model="radioModel.selected" btn-radio="'Mussel'" uncheckable ng-disabled="scoreboard.animals.Mussel === undefined">
                        <span class="glyphicon glyphicon-pencil" ng-show="radioModel.selected === 'Mussel'"></span>
                        <span class="glyphicon glyphicon-thumbs-up" ng-show="isCompleted('Mussel')"></span>
                        <span class="glyphicon glyphicon-lock" ng-show="scoreboard.animals.Mussel === undefined"></span>
                        Mussel
                    </label>
                </div>
                <div class="btn-group btn-group-justified">
                    <label class="btn yellow" style="border-top-left-radius: 0px;border-top-right-radius: 0px;border-bottom-right-radius: 0px;"
                           ng-model="radioModel.selected" btn-radio="'Crab'" uncheckable ng-disabled="scoreboard.animals.Crab === undefined">
                        <span class="glyphicon glyphicon-pencil" ng-show="radioModel.selected === 'Crab'"></span>
                        <span class="glyphicon glyphicon-thumbs-up" ng-show="isCompleted('Crab')"></span>
                        <span class="glyphicon glyphicon-lock" ng-show="scoreboard.animals.Crab === undefined"></span>
                        Crab
                    </label>
                    <label class="btn purple" style="border-top-left-radius: 0px;border-top-right-radius: 0px;border-bottom-left-radius: 0px;"
                           ng-model="radioModel.selected" btn-radio="'Burrow'" uncheckable ng-disabled="scoreboard.animals.Burrow === undefined">
                        <span class="glyphicon glyphicon-pencil" ng-show="radioModel.selected === 'Burrow'"></span>
                        <span class="glyphicon glyphicon-thumbs-up" ng-show="isCompleted('Burrow')"></span>
                        <span class="glyphicon glyphicon-lock" ng-show="scoreboard.animals.Burrow === undefined"></span>
                        Burrow
                    </label>
                </div>
            </div>

            <hr/>

            <div style="margin: 0 auto; width: 128px; height: 128px; background-color: lightgrey;">
                <img ng-show="radioModel.selected !== null" ng-src="images/animals/{{radioModel.selected}}.jpg" />
                <a class="btn btn-primary" type="button" ng-show="radioModel.selected !== null" ng-click="showModal()">More details</a>
            </div>

            <hr/>

            <accordion>
                <accordion-group is-open="true">
                    <accordion-heading>
                        Features<span class="badge pull-right">{{snails.length + mussels.length + crabs.length + burrows.length}}</span>
                    </accordion-heading>
                    <div class="list-group" style="overflow: auto; height: 175px;">
                        <a ng-repeat="burrow in burrows" class="list-group-item"
                           ng-mouseenter="highlightFeature('Burrow',$index,true)"
                           ng-mouseleave="highlightFeature('Burrow',$index,false)"
                           ng-click="panToFeature('Burrow',$index)"
                           ng-hide="burrow.validated">
                            Burrow-{{$index}}
                            <label class="btn btn-xs btn-danger pull-right tag" ng-click="removeFeature('Burrow',$index)">
                                <span class="glyphicon glyphicon-remove-sign"></span>
                            </label>
                        </a>
                        <a ng-repeat="crab in crabs" class="list-group-item"
                           ng-mouseenter="highlightFeature('Crab',$index,true)"
                           ng-mouseleave="highlightFeature('Crab',$index,false)"
                           ng-click="panToFeature('Crab',$index)"
                           ng-hide="crab.validated">
                            Crab-{{$index}}
                            <label class="btn btn-xs btn-danger pull-right tag" ng-click="removeFeature('Crab',$index)">
                                <span class="glyphicon glyphicon-remove-sign"></span>
                            </label>
                        </a>
                        <a ng-repeat="mussel in mussels" class="list-group-item"
                           ng-mouseenter="highlightFeature('Mussel',$index,true)"
                           ng-mouseleave="highlightFeature('Mussel',$index,false)"
                           ng-click="panToFeature('Mussel',$index)"
                           ng-hide="mussel.validated">
                            Mussel-{{$index}}
                            <label class="btn btn-xs btn-danger pull-right tag" ng-click="removeFeature('Mussel',$index)">
                                <span class="glyphicon glyphicon-remove-sign"></span>
                            </label>
                        </a>
                        <a ng-repeat="snail in snails" class="list-group-item"
                           ng-mouseenter="highlightFeature('Snail',$index,true)"
                           ng-mouseleave="highlightFeature('Snail',$index,false)"
                           ng-click="panToFeature('Snail',$index)"
                           ng-hide="snail.validated">
                            Snail-{{$index}}
                            <label class="btn btn-xs btn-danger pull-right tag" ng-click="removeFeature('Snail',$index)">
                                <span class="glyphicon glyphicon-remove-sign"></span>
                            </label>
                        </a>
                    </div>
                </accordion-group>
            </accordion>

            <hr/>

            <div>
                <a class="btn btn-default" ng-click="submit()">Submit</a> <a class="btn btn-default" ng-click="skip()">Skip</a>
            </div>
        </div>
    </div>

    <div id="scoreboard" class="ol-control scoreboard-panel" ng-show="errorMsg === false">
        <button type="button" ng-show="displayScoreboard" ng-click="displayScoreboard = !displayScoreboard" style="float: right;">
            <span class="glyphicon glyphicon-triangle-top"></span>
        </button>
        <button type="button" ng-hide="displayScoreboard" ng-click="displayScoreboard = !displayScoreboard" style="float: right;">
            <span class="glyphicon glyphicon-triangle-bottom"></span>
        </button>
        <div ng-show="displayScoreboard">
            <div style="width: 300px;">
                <h4>Score : {{scoreboard.score}}</h4>
                <ul class="list-unstyled">
                    <li ng-repeat="(key,animal) in scoreboard.animals">
                        <progress max="animal.max" animate="true">
                            <bar value="animal.nbConfirmed">
                                <span style="color:white; white-space:nowrap; font-size: medium;">{{animal.name}} : {{animal.nbConfirmed + animal.nbToSubmit}} / {{animal.max}}</span>
                            </bar>
                            <bar value="animal.nbToSubmit" type="warning">

                            </bar>
                        </progress>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div>
        <div id="map" class="map" style="background-color: #9DA9A5;"></div>
    </div>

    <div class="modal fade" id="BurrowModal" tabindex="-1" role="dialog" aria-labelledby="myBurrowLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myBurrowLabel">Burrows</h4>
                </div>
                <div class="modal-body">
                    <p>More details</p>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="MusselModal" tabindex="-1" role="dialog" aria-labelledby="myMusselLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myMusselLabel">Mussels</h4>
                </div>
                <div class="modal-body">
                    <p>More details</p>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="SnailModal" tabindex="-1" role="dialog" aria-labelledby="mySnailLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="mySnailLabel">Snails</h4>
                </div>
                <div class="modal-body">
                    <p>More details</p>
                </div>
            </div>
        </div>
    </div>
</div>
