<div ng-cloak>
    <h1 class="text-center">Plant identification</h1>

    <div ng-show="errorMsg === true">
        <p class="text-center">
            Sorry, no image is available to you in this game mode at this time.
        </p>
        <div style="width: 25%; margin: 0 auto;">
            <a class="btn btn-primary btn-lg" ui-sref="home" style="width: 100%;">Back to the menu</a>
        </div>
    </div>

    <div id="controls" class="ol-control control-panel" ng-show="errorMsg === false">
        <button type="button" ng-show="displayControls" ng-click="displayControls = !displayControls">&#x25B2;</button>
        <button type="button" ng-hide="displayControls" ng-click="displayControls = !displayControls">&#x25BC;</button>

        <div ng-show="displayControls">
            <div class="btn-group btn-group-justified" style="width: 350px;">
                <label class="btn color1" ng-model="radioModel.selected"
                       btn-radio="'Salicornia'" uncheckable style="border-bottom-left-radius: 0px;"
                       ng-disabled="Salicornia === undefined">
                    <span class="glyphicon glyphicon-pencil" ng-show="radioModel.selected === 'Salicornia'"></span>
                    <span class="glyphicon glyphicon-lock" ng-show="Salicornia === undefined"></span>
                    Salicornia
                </label>
                <label class="btn color2" ng-model="radioModel.selected"
                       btn-radio="'Spartina'" uncheckable
                       ng-disabled="Spartina === undefined">
                    <span class="glyphicon glyphicon-pencil" ng-show="radioModel.selected === 'Spartina'"></span>
                    <span class="glyphicon glyphicon-lock" ng-show="Spartina === undefined"></span>
                    Spartina
                </label>
                <label class="btn color3" ng-model="radioModel.selected"
                       btn-radio="'Batis'" uncheckable style="border-bottom-right-radius: 0px;"
                       ng-disabled="Batis === undefined">
                    <span class="glyphicon glyphicon-pencil" ng-show="radioModel.selected === 'Batis'"></span>
                    <span class="glyphicon glyphicon-lock" ng-show="Batis === undefined"></span>
                    Batis
                </label>
            </div>
            <div class="btn-group btn-group-justified" style="width: 350px;">
                <label class="btn color4" ng-model="radioModel.selected"
                       btn-radio="'Borrichia'" uncheckable style="border-top-left-radius: 0px;"
                       ng-disabled="Borrichia === undefined">
                    <span class="glyphicon glyphicon-pencil" ng-show="radioModel.selected === 'Borrichia'"></span>
                    <span class="glyphicon glyphicon-lock" ng-show="Borrichia === undefined"></span>
                    Borrichia
                </label>
                <label class="btn color5" ng-model="radioModel.selected"
                       btn-radio="'Limonium'" uncheckable
                       ng-disabled="Limonium === undefined">
                    <span class="glyphicon glyphicon-pencil" ng-show="radioModel.selected === 'Limonium'"></span>
                    <span class="glyphicon glyphicon-lock" ng-show="Limonium === undefined"></span>
                    Limonium
                </label>
                <label class="btn color6" ng-model="radioModel.selected"
                       btn-radio="'Juncus'" uncheckable style="border-top-right-radius: 0px;"
                       ng-disabled="Juncus === undefined">
                    <span class="glyphicon glyphicon-pencil" ng-show="radioModel.selected === 'Juncus'"></span>
                    <span class="glyphicon glyphicon-lock" ng-show="Juncus === undefined"></span>
                    Juncus
                </label>
            </div>
            <hr/>
            <div style="margin: 0 auto; width: 128px; height: 128px; background-color: lightgrey;">
                <img ng-show="radioModel.selected !== null" ng-src="images/plants/{{radioModel.selected}}.jpg" />
                <a ng-show="radioModel.selected !== null" ng-click="showModal()">More details</a>
            </div>
            <hr/>
            <div>
                <a class="btn btn-default" ng-click="submit()">Submit</a> <a class="btn btn-default" ng-click="skip()">Skip</a>
            </div>
        </div>
    </div>

    <div id="options" class="ol-control options-panel" ng-show="errorMsg === false">
        <button type="button" ng-show="displayOptions" ng-click="displayOptions = !displayOptions" style="float: right;">
            <span class="glyphicon glyphicon-triangle-top"></span>
        </button>
        <button type="button" ng-hide="displayOptions" ng-click="displayOptions = !displayOptions" style="float: right;">
            <span class="glyphicon glyphicon-triangle-bottom"></span>
        </button>
        <div ng-show="displayOptions" style="clear: both;">
            <ul class="list-unstyled">
                <li ng-show="Batis !== undefined">
                    <input type="checkbox" id="batisCheckbox" ng-model="showBatis"><label for="batisCheckbox">Show batis</label>
                </li>
                <li ng-show="Borrichia !== undefined">
                    <input type="checkbox" id="borrichiaCheckbox" ng-model="showBorrichia"><label for="borrichiaCheckbox">Show borrichia</label>
                </li>
                <li ng-show="Juncus !== undefined">
                    <input type="checkbox" id="juncusCheckbox" ng-model="showJuncus"><label for="juncusCheckbox">Show juncus</label>
                </li>
                <li ng-show="Limonium !== undefined">
                    <input type="checkbox" id="limoniumCheckbox" ng-model="showLimonium"><label for="limoniumCheckbox">Show limonium</label>
                </li>
                <li ng-show="Salicornia !== undefined">
                    <input type="checkbox" id="salicorniaCheckbox" ng-model="showSalicornia"><label for="salicorniaCheckbox">Show salicornia</label>
                </li>
                <li ng-show="Spartina !== undefined">
                    <input type="checkbox" id="spartinaCheckbox" ng-model="showSpartina"><label for="spartinaCheckbox">Show spartina</label>
                </li>
            </ul>
        </div>
    </div>

    <div>
        <div id="map" class="map" style="background-color: #9DA9A5;"></div>
    </div>

    <div class="modal fade" id="BatisModal" tabindex="-1" role="dialog" aria-labelledby="myBatisLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myBatisLabel">Batis</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <p class="lead">Informations diagnostiques</p>
                            <p>Nom scientifique: <em>Batis maritima</em><br />
                            Ordre: Brassicales<br />
                            Famille: Bataceae</p>
                        </div>
                        <div class="col-md-6">
                            <img src="images/plants/batis1.png" style="width: 100%;">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <p>
                                <strong>Habitat</strong>: <em>B. maritima</em> est une espèce pionnière, pérenne et succulente, qui peut former des buissons
                                rampants fermement enracinés. Cette espèce peut former de denses colonies dans les habitats de moyenne
                                et haute élévation du marais ainsi qu’en marge des patchs alcalins. Cette espèce halophyte peut tolérer
                                de fortes salinités en séquestrant le sel dans la vacuole de ses cellules et éventuellement en perdant
                                ses feuilles, particulièrement durant la saison sèche, afin de maintenir son potentiel osmotique.
                                <em>B. maritima</em> peut endurer de brèves périodes d’inondation et peut se maintenir durant de longues
                                périodes  sur des sols engorgés.
                            </p>

                            <p>
                                <img src="images/plants/batis2.png" style="width: 100%;">
                            </p>

                            <p>
                                <strong>Caractéristiques morphologiques</strong>: <em>B. maritima</em> est une espèce succulente et rampante d’un vert éclatant qui peut former des buissons
                                de 0,1 - 1,5 m de haut pouvant s’étaler jusqu’à 2 m à la surface du sol. Sa base ligneuse, à l’écorce
                                blanc-grisâtre, peut atteindre 5 cm de diamètre mais est généralement <1 cm. Sa tige est fragile et cassante.
                                Les feuilles sont simples, charnues, opposées, sessiles, presque cylindriques, mesurent environ 2,5 cm de
                                long et sont caduques. Les fleurs sont petites, unisexuées, vertes ou blanches, axillaires ou terminales,
                                isolées ou groupées. Les fruits sont des drupes axillaires d’1 à 2 cm de long.
                            </p>

                            <p>
                                <strong>Alimentation</strong>: Photosynthèse
                            </p>

                            <p>
                                <strong>Reproduction</strong>: Cette plante est dioïque (auto-incompatible), fleurie entre Juillet et Octobre et
                                est pollinisée par le vent. Les fruits et graines sont produits en fin d’été et sont hydrochores.
                                Cette espèce se reproduit efficacement de façon végétative, particulièrement via des fragments
                                dispersés par l’eau.
                            </p>

                            <p>
                                <strong>Taille maximale</strong>: 1,5 m
                            </p>

                            <p>
                                <strong>Prédateurs</strong>: Cette plante est consommée par de nombreux mammifères, insectes
                                (e.g. Orthoptères, Coléoptères, Lépidoptères) et crabes comme Armases cinereum.
                            </p>

                            <p>
                                <strong>Importance</strong>: <em>B. maritima</em> est une espèce qui stabilise le sol et qui procure habitat et  alimentation
                                pour de nombreux animaux. Elle représente un site de nidification privilégié pour les oiseaux migrateurs et limicoles.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="BorrichiaModal" tabindex="-1" role="dialog" aria-labelledby="myBorrichiaLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myBorrichiaLabel">Borrichia</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <p class="lead">Informations diagnostiques</p>
                            <p>Nom scientifique: <em>Borrichia frutescens</em><br />
                                Ordre: Asterales<br />
                                Famille: Asteraceae</p>
                        </div>
                        <div class="col-md-6">
                            <img src="images/plants/borrichia1.png" style="width: 100%;">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <p>
                                <strong>Habitat</strong>: Cette plante pérenne, tolérante à la salinité et la sécheresse,
                                pousse naturellement dans les zones saumâtres des marais salés où les inondations sont peu
                                fréquentes, particulièrement dans les habitats à haute élévation. Pour maintenir son potentiel
                                osmotique, cette plante est capable de produire des solutés comme la proline et la glycine-bétaine,
                                de séquestrer le sel dans la vacuole de ses cellules et d’excréter le sel par ses racines.
                            </p>

                            <p>
                                <img src="images/plants/borrichia2.png" style="width: 100%;">
                            </p>

                            <p>
                                <strong>Caractéristiques morphologiques</strong>: <em>Borrichia</em> possède des rhizomes et forme
                                des colonies buissonnantes de 60-90 cm de haut. Ses tiges dressées et cassantes sont de
                                couleur gris-vert tout comme ses feuilles simples, opposées, spatulées, charnues, pubescentes
                                sur les 2 faces et mesurant jusqu’à 11 cm de long pour 3 cm de large. Ses fleurs sont terminales,
                                composées de 15 à 30 pétales jaunes vifs, mesurent 3 cm de diamètre, et ont un cœur orangé-brun.
                                A maturité, les pétales tombent et le disque central devient rigide et brun foncé.
                            </p>

                            <p>
                                <strong>Alimentation</strong>: Photosynthèse
                            </p>

                            <p>
                                <strong>Reproduction</strong>: Cette espèce se reproduit aussi bien de façon sexuée (floraison)
                                et asexuée (via ses rhizomes). La floraison à lieu toute l’année avec un pic entre Mai et Août.
                                Toutes les inflorescences ne sont pas matures en même temps. Ses fleurs odorantes et auto-incompatibles
                                sont pollinisées par de nombreux insectes (e.g. abeilles, papillons). Les graines (achènes) sont
                                produites et dispersées en automne par zoochorie.
                            </p>

                            <p>
                                <strong>Taille maximale</strong>: 1 m
                            </p>

                            <p>
                                <strong>Prédateurs</strong>: Les tissus de cette plante sont consommés par les mammifères
                                mais aussi par le crabe <em>cinereum</em>. <em>Borrichia</em> procure du nectar pour les abeilles
                                et papillons et des achènes pour les oiseaux granivores.
                            </p>

                            <p>
                                <strong>Importance</strong>: Procure nourriture et habitat pour la faune sauvage (e.g. site de
                                nidification pour oiseaux côtiers et couvert pour les crabes violonistes <em>Uca pugilator</em>).
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="JuncusModal" tabindex="-1" role="dialog" aria-labelledby="myJuncusLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myJuncusLabel">Juncus</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <p class="lead">Informations diagnostiques</p>
                            <p>Nom scientifique: <em>Juncus roemerianus</em><br />
                                Ordre: Poales<br />
                                Famille: Juncaceae</p>
                        </div>
                        <div class="col-md-6">
                            <img src="images/plants/juncus1.jpg" style="width: 100%;">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <p>
                                <strong>Habitat</strong>: <em>J. roemerianus</em> est une espèce pérenne modérément tolérante à la
                                salinité qui domine généralement les habitats à moyenne et/ou haute élévation du marais.
                                Cette plante, plus compétitive que <em>S. alterniflora</em>, limite cette dernière aux habitats de
                                faible altitude où le sol est plus fréquemment inondé. Dans les habitats où la salinité du
                                sol est faible, <em>Juncus</em> peut atteindre des hauteurs de plus de 2,2 m, alors que dans les
                                habitats à plus forte salinité, il dépasse rarement 0,3 m de haut.
                            </p>

                            <p>
                                <img src="images/plants/juncus2.png" style="width: 100%;">
                            </p>

                            <p>
                                <strong>Caractéristiques morphologiques</strong>: Cette plante forme des peuplements denses.
                                Les tiges et feuilles sont cylindriques, rigides et leurs extrémités piquantes. Cette espèce
                                pousse depuis un rhizome et a une couleur verte-grisâtre. Les inflorescences involucres aux
                                bractées érigées poussent latéralement. Les fleurs sont généralement brunes et mesurent de
                                3 à 3,5 mm. Les graines sont noires, mesurent 0,6 mm et sont produites entre Mai et Octobre.
                            </p>

                            <p>
                                <strong>Alimentation</strong>: Photosynthèse
                            </p>

                            <p>
                                <strong>Reproduction</strong>: Cette plante croit toute l’année et a la capacité de se reproduire
                                de façon sexuée (via ses graines) et végétative (via ses rhizomes). Cette espèce est gynodioïque,
                                certains individus portant uniquement des fleurs femelles et d’autres, uniquement des fleurs hermaphrodites.
                                Les graines hydrochores restent viables plus d’un an et germent principalement dans les zones peu végétalisées du marais.
                            </p>

                            <p>
                                <strong>Taille maximale</strong>: Jusqu’à 2.5 m
                            </p>

                            <p>
                                <strong>Prédateurs</strong>: De nombreux invertébrés herbivores dont des insectes et le crabe <em>S. reticulatum</em>.
                            </p>

                            <p>
                                <strong>Importance</strong>: Les peuplements de <em>Juncus</em>, formant de denses et profonds systèmes
                                racinaires, offrent une très bonne protection du littoral contre l’érosion, filtrent les
                                particules en suspension et absorbent les nutriments. Cette espèce procure habitat (couverture,
                                site de nidification) et  alimentation pour de nombreux invertébrés et vertébrés du marais.
                                Cette plante est également utilisée pour la restauration  des estuaires de la côte Atlantique et du Golfe.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="LimoniumModal" tabindex="-1" role="dialog" aria-labelledby="myLimoniumLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myLimoniumLabel">Limonium</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <p class="lead">Informations diagnostiques</p>
                            <p>Nom scientifique: <em>Limonium carolinianum</em><br />
                                Ordre: Plumbaginales<br />
                                Famille: Plumbaginacée</p>
                        </div>
                        <div class="col-md-6">
                            <img src="images/plants/limonium1.png" style="width: 100%;">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <p>
                                <strong>Habitat</strong>: <em>Limonium</em> est une plante pérenne qui se retrouve principalement
                                dans les habitats de haut marais irrégulièrement inondés. Très tolérante au sel, elle peut accumuler
                                de la proline pour maintenir son potentiel osmotique quand elle est exposée à des taux de salinité
                                variable. Elle possède également des glandes sur ses feuilles et ses tiges qui lui permettent d’excréter le sel.
                            </p>

                            <p>
                                <img src="images/plants/limonium2.png" style="width: 100%;">
                            </p>

                            <p>
                                <strong>Caractéristiques morphologiques</strong>: Cette plante a des feuilles vert foncé,
                                simples, spatulées, mesurant jusqu’à 21 cm de long et 4,5 cm de large, coriaces, aux pétioles
                                longs et fins, et disposées en rosette. La racine est pivotante et ligneuse. Les tiges minces
                                ont souvent une teinte rougeâtre et peuvent atteindre 60 cm de haut. Les inflorescences sont
                                très ramifiées, incurvées vers le bas sur lesquelles sont disposées de petites fleurs (d’environ
                                7 mm de long) composées de 5 pétales violets et 5 sépales blanchâtres. Les fleurs sont disposées
                                sur un coté de la tige formant des grappes à ramification diffuse. Les fruits sont secs, indéhiscent
                                à une seule graine. La plante entière devient brune à l'automne et l'hiver.
                            </p>

                            <p>
                                <strong>Alimentation</strong>: Photosynthèse
                            </p>

                            <p>
                                <strong>Reproduction</strong>: La floraison a lieu entre juillet et octobre et les fleurs
                                sont pollinisées par les insectes. <em>L. carolinianum</em> est auto-compatible et ses graines sont hydrochores.
                            </p>

                            <p>
                                <strong>Taille maximale</strong>: 60 cm
                            </p>

                            <p>
                                <strong>Prédateurs</strong>: Cette plante est une ressource nectarifère pour de nombreux insectes pollinisateurs.
                            </p>

                            <p>
                                <strong>Importance</strong>: Cette espèce est une ressource alimentaire pour les insectes
                                et sert d’abris pour les invertébrés des marais salés comme par exemple les insectes ou les crabes.
                                Cette espèce à maturité tardive (9 ans) et fécondité faible est fréquemment récoltée pour
                                ses inflorescences, ce qui peut avoir des impacts dramatiques sur les populations locales.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="SalicorniaModal" tabindex="-1" role="dialog" aria-labelledby="mySalicorniaLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="mySalicorniaLabel">Salicornia</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <p class="lead">Informations diagnostiques</p>
                            <p>
                                Nom scientifique: <em>Salicornia virginica</em><br />
                                Ordre: Caryophyllales<br />
                                Famille: Amaranthaceae<br />
                                Nom vernaculaire: Salicorne de Virginie
                            </p>
                        </div>
                        <div class="col-md-6">
                            <img src="images/plants/salicornia1.png" style="width: 100%;">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <p>
                                <strong>Habitat</strong>: <em>Salicornia virginica</em> est une espèce halophile, pérenne, se développant
                                dans la zone intertidale du marais. Elle peut également s’observer au niveau de patchs alcalins
                                et de prairies salées. Cette espèce est très tolérante à la salinité. Les tiges contiennent des
                                volumes importants d’eau, permettant à l’espèce de maintenir son potentiel osmotique.
                            </p>

                            <p>
                                <img src="images/plants/salicornia2.png" style="width: 100%;">
                            </p>

                            <p>
                                <strong>Caractéristiques morphologiques</strong>: Les salicornes sont des espèces végétales buissonnantes,
                                généralement basses (moins de 30cm de haut) et succulente. Elles sont constituées d’une tige principale
                                cylindrique, présentant une base semi-ligneuse et se ramifiant irrégulièrement sous forme de tiges érigées.
                                Les feuilles sont courtes et ressemblent aux tiges. Les tiges de <em>Salicornia</em> sont gris-brun en hiver, vert
                                en printemps-été et vert rougeâtre en automne.
                            </p>

                            <p>
                                <strong>Alimentation</strong>: Photosynthèse
                            </p>

                            <p>
                                <strong>Reproduction</strong>: La floraison a lieu d’août à novembre. Les fleurs sont hermaphrodites
                                et anémophiles. Les fruits sont de petite taille et contiennent une seule graine. Les graines hydrochores
                                sont dispersées par les marées ou la pluie. Elles présentent des petites structures adhésives
                                qui leur permettent de piéger des bulles d’air favorisant leur flottaison ou leur capacité à
                                s’accrocher sur les débris flottants.
                            </p>

                            <p>
                                <strong>Taille maximale</strong>: Jusqu’à 30cm
                            </p>

                            <p>
                                <strong>Prédateurs</strong>: <em>Salicornia virginica</em> représente un habitat pour de nombreux vers et insectes.
                                Les oiseaux, mammifères, insectes et crabes (e.g. <em>S. reticulatum</em>) s’alimentent notamment sur les feuilles.
                                Ces feuilles servent également de refuge pendant les marées pour les insectes et escargots (e.g. <em>L. irrorata</em>).
                            </p>

                            <p>
                                <strong>Importance</strong>: Les salicornes sont des ressources et un habitat important pour de nombreuses espèces.
                                Historiquement, les indiens utilisaient les cendres de salicornes pour la production de savons et les tiges comme
                                légumes et en assaisonnement. Une espèce annuelle, proche, <em>Salicornia bigelovii</em>, est collectée et commercialisée
                                pour faire des salades. Des essais sont en cours pour cultiver cette espèce en zones côtières arides pour produire
                                de l’huile, en utilisant l’eau de mer pour irriguer.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="SpartinaModal" tabindex="-1" role="dialog" aria-labelledby="mySpartinaLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="mySpartinaLabel">Spartina</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <p class="lead">Informations diagnostiques</p>
                            <p>
                                Nom scientifique: <em>Spartina alterniflora</em><br />
                                Ordre: Poales<br />
                                Famille: Poaceae<br />
                                Nom vernaculaire: Spartine à feuilles alternes
                            </p>
                        </div>
                        <div class="col-md-6">
                            <img src="images/plants/spartina1.png" style="width: 100%;">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <p>
                                <strong>Habitat</strong>: <em>S. alterniflora</em> se développe dans la zone intertidale
                                dans les marais salés et saumâtres. Cette espèce forme des taches denses se développant
                                généralement en parallèle à la côte. Elle présente deux formes : une forme courte dans les
                                zones de bas marais et une forme haute sur les berges des chenaux. Ces différences de hauteur
                                sont essentiellement dues à des réponses plastiques aux conditions du sol et non à une adaptation génétique.
                            </p>

                            <p>
                                <img src="images/plants/spartina2.png" style="width: 100%;">
                            </p>

                            <p>
                                <strong>Caractéristiques morphologiques</strong>: <em>S. alterniflora</em> a des tiges rondes
                                présentant des lignes rougeâtres ou une pigmentation basale rouge pour les plus jeunes. Les
                                feuilles sont souples, allongées et mesurent au maximum 25 mm en largeur. Les fleurs sont petites,
                                blanches-verdâtres et se développent entre juillet et septembre. En septembre-octobre, les épis
                                font environ 30 cm de haut et peuvent porter des hampes florales comprenant des épis portant
                                jusqu’à 12-15 épillets. Les fleurs deviennent marron en hiver. Cette espèce se multiplie végétativement
                                via un réseau dense et interconnecté de rhizomes. Elle peut se développer sous deux formes : une forme
                                courte de 60 cm de hauteur et une forme plus haute allant jusqu’à 2,10 m.
                            </p>

                            <p>
                                <strong>Alimentation</strong>: Photosynthèse
                            </p>

                            <p>
                                <strong>Reproduction</strong>: Cette plante se reproduit généralement de manière végétative
                                via le développement de longs rhizomes souterrains à partir duquel se développent les nouvelles
                                tiges. Les fleurs donnent des épis allongées en automne.
                            </p>

                            <p>
                                <strong>Taille maximale</strong>: 2,10 m
                            </p>

                            <p>
                                <strong>Prédateurs</strong>: Les oies des neiges, rats musqués, escargots herbivores, crabes herbivores.
                                Les crabes violonistes, certains escargots marins et les moules peuvent former des relations mutualistes avec la spartine.
                            </p>

                            <p>
                                <strong>Importance</strong>: <em>S. alterniflora</em> représente un habitat important pour
                                l’escargot Littoraria irrorata, les moules rayées et les crabes violonistes. Les marais dominés
                                par <em>S. alterniflora</em> fournissent des habitats et des sites de nurseries pour les alligators,
                                les oiseaux, les crustacés et les poissons, la plupart d’entre eux ayant une importance
                                récréative/esthétique ou commerciale. Cette espèce présente également des capacités à filtrer
                                les éléments toxiques et les métaux lourds présents dans l’eau et permet de stabiliser la côte contre l’érosion.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
