<nav class="navbar navbar-default navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!--<a class="navbar-brand" href="#"><span translate="global.title">jhipster</span> <span class="navbar-version">v{{VERSION}}</span></a>-->
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse" ng-switch="isAuthenticated()">
            <ul class="nav navbar-nav nav-pills navbar-right">

                <li ui-sref-active="active">
                    <a ui-sref="home">
                        <span style="font-size: 18px;" class="glyphicon glyphicon-home"></span>
                        <span translate="global.menu.home">Home</span>
                    </a>
                </li>

                <li ng-switch-when="true">
                    <a class="dropdown-toggle" data-toggle="dropdown" style="position: relative;">
                        <span style="font-size: 18px;" class="glyphicon glyphicon-bell"></span>
                        <span ng-show="notifications.length > 0" class="badge"
                              style="position: absolute; left: 20px; top: 5px; background-color: #9DB439;">{{notifications.length}}</span>
                    </a>
                    <div class="dropdown-menu" style="width: 300px; padding: 0px;">
                        <ul class="list-group" style="margin: 0px;">
                            <li class="list-group-item" style="padding: 10px 0px; border-radius: 0px;">
                                <h4 style="margin: 0px 10px;">Notifications</h4>
                            </li>
                            <li class="list-group-item" style="padding: 0px;">
                                <div style="height: 250px; overflow: auto;">
                                    <ul class="list-group" style="margin: 0px;">
                                        <li class="list-group-item notification" ng-repeat="notification in notifications"
                                            eat-click-if="notification.gameId === null"
                                            ui-sref="games({id:notification.gameId})" ng-click="markAsRead($index,$event)">

                                            <div style="display:inline-block; color: #4B5639;">
                                                <p><strong>{{notification.title}}</strong></p>
                                                <p style="margin: 0;">{{notification.content}}</p>
                                            </div>
                                            <div class="pull-right" style="display:inline-block; color: #4B5639;">
                                                <a ng-click="markAsRead($index,$event)">
                                                    <span class="glyphicon glyphicon-remove-sign"></span>
                                                </a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="list-group-item" style="border-radius: 0px;">
                                <a ui-sref="game-history" class="text-center"><div><strong>Show all notifications</strong></div></a>
                            </li>
                        </ul>
                    </div>
                </li>

                <li ng-switch-when="true">
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        <span style="font-size: 18px;" class="glyphicon glyphicon-exclamation-sign"></span>
                    </a>
                    <div class="dropdown-menu" style="width: 300px; padding: 0px;">
                        <ul class="list-group" style="margin: 0px;">
                            <li ng-hide="ongoing_objectives.length === 0" class="list-group-item"
                                style="padding: 10px 0px; border-radius: 0px;">
                                <h4 style="margin: 0px 10px;">Ongoing objectives : {{ongoing_objectives.length}}/3</h4>
                            </li>
                            <li ng-show="ongoing_objectives.length === 0" class="list-group-item disabled"
                                style="padding: 10px 0px; border-radius: 0px; background-color: #FFF; border: 0 none; margin: 25px 0;">
                                <h4 style="margin: 0px 10px;">No ongoing objective</h4>
                            </li>
                            <li ng-hide="ongoing_objectives.length === 0" class="list-group-item" style="padding: 0px;">
                                <div style="overflow: auto;">
                                    <ul class="list-group" style="margin: 0px;">
                                        <li class="list-group-item notification" ng-repeat="objective in ongoing_objectives"
                                            style="cursor: default;">
                                            <div style="display:inline-block;">
                                                <p><strong>{{objective.title}}</strong></p>
                                                <p style="margin: 0;">{{objective.state}}</p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li ng-hide="pending_objectives.length === 0" class="list-group-item"
                                style="padding: 10px 0px; border-radius: 0px;">
                                <h4 style="margin: 0px 10px;">Pending objectives : {{pending_objectives.length}}</h4>
                            </li>
                            <li ng-show="pending_objectives.length === 0" class="list-group-item disabled"
                                style="padding: 10px 0px; border-radius: 0px; background-color: #FFF; border: 0 none; margin: 25px 0;">
                                <h4 style="margin: 0px 10px;">No pending objective</h4>
                            </li>
                            <li ng-hide="pending_objectives.length === 0"  class="list-group-item" style="padding: 0px;">
                                <div style="height: 140px; overflow: auto;">
                                    <ul class="list-group" style="margin: 0px;">
                                        <li class="list-group-item notification" ng-repeat="objective in pending_objectives"
                                            style="cursor: default;">
                                            <div style="display:inline-block;">
                                                <p><strong>{{objective.title}}</strong></p>
                                                <p style="margin: 0;">{{objective.state}}</p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>

                <!--<li ui-sref-active="active" ng-switch-when="true" ng-show="isInRole('ROLE_ADMIN')" class="dropdown pointer">-->
                    <!--<a class="dropdown-toggle" data-toggle="dropdown" href="">-->
                        <!--<span>-->
                            <!--<span style="font-size: 18px;" class="glyphicon glyphicon-th-list"></span>-->
                            <!--<span class="hidden-tablet" translate="global.menu.entities.main">-->
                                <!--Entities-->
                            <!--</span>-->
                            <!--<b class="caret"></b>-->
                        <!--</span>-->
                    <!--</a>-->
                    <!--<ul class="dropdown-menu">-->
                        <!--<li ui-sref-active="active" ><a ui-sref="image"><span class="glyphicon glyphicon-asterisk"></span>-->
                            <!--&#xA0;<span translate="global.menu.entities.image">image</span></a></li>-->
                        <!--&lt;!&ndash; JHipster will add entities to the menu here &ndash;&gt;-->
                    <!--</ul>-->
                <!--</li>-->
                <li ng-class="{active: $state.includes('account')}" class="dropdown pointer">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="">
                        <span>
                            <span style="font-size: 18px;" class="glyphicon glyphicon-user"></span>
                            <span class="hidden-tablet" translate="global.menu.account.main">
                                Account
                            </span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li ui-sref-active="active" ng-switch-when="true"><a ui-sref="profile"><span class="glyphicon glyphicon-user"></span>
                            &#xA0;<span>Profile</span></a></li>
                        <li ui-sref-active="active" ng-switch-when="true"><a ui-sref="settings"><span class="glyphicon glyphicon-wrench"></span>
                            &#xA0;<span translate="global.menu.account.settings">Settings</span></a></li>
                        <li ui-sref-active="active" ng-switch-when="true"><a ui-sref="password"><span class="glyphicon glyphicon-lock"></span>
                            &#xA0;<span translate="global.menu.account.password">Password</span></a></li>
                        <li ui-sref-active="active" ng-switch-when="true"><a ui-sref="sessions"><span class="glyphicon glyphicon-cloud"></span>
                            &#xA0;<span translate="global.menu.account.sessions">Sessions</span></a></li>
                        <li ui-sref-active="active" ng-switch-when="true"><a href="" ng-click="logout()"><span class="glyphicon glyphicon-log-out"></span>
                            &#xA0;<span translate="global.menu.account.logout">Log out</span></a></li>
                        <li ui-sref-active="active" ng-switch-when="false"><a ui-sref="login"><span class="glyphicon glyphicon-log-in"></span>
                            &#xA0;<span translate="global.menu.account.login">Authenticate</span></a></li>

                        <li ui-sref-active="active" ng-switch-when="false"><a ui-sref="register"><span class="glyphicon glyphicon-plus-sign"></span>
                            &#xA0;<span translate="global.menu.account.register">Register</span></a></li>
                    </ul>
                </li>
                <li ng-class="{active: $state.includes('admin')}"  ng-switch-when="true" ng-show="isInRole('ROLE_ADMIN')" class="dropdown pointer">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="">
                        <span>
                            <span class="glyphicon glyphicon-tower"></span>
                            <span class="hidden-tablet" translate="global.menu.admin.main">Admin</span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li ui-sref-active="active"><a ui-sref="image-manager"><span class="glyphicon glyphicon-picture"></span>
                            &#xA0;<span>Image manager</span></a></li>
                        <li ui-sref-active="active"><a ui-sref="user-manager"><span class="glyphicon glyphicon-user"></span>
                            &#xA0;<span>User manager</span></a></li>
                        <li ui-sref-active="active"><a ui-sref="metrics"><span class="glyphicon glyphicon-dashboard"></span>
                            &#xA0;<span translate="global.menu.admin.metrics">Metrics</span></a></li>
                        <li ui-sref-active="active"><a ui-sref="health"><span class="glyphicon glyphicon-heart"></span>
                            &#xA0;<span translate="global.menu.admin.health">Health</span></a></li>
                        <li ui-sref-active="active"><a ui-sref="configuration"><span class="glyphicon glyphicon-list-alt"></span>
                            &#xA0;<span translate="global.menu.admin.configuration">Configuration</span></a></li>
                        <li ui-sref-active="active"><a ui-sref="audits"><span class="glyphicon glyphicon-bell"></span>
                            &#xA0;<span translate="global.menu.admin.audits">Audits</span></a></li>
                        <li ui-sref-active="active"><a ui-sref="logs"><span class="glyphicon glyphicon-tasks"></span>
                            &#xA0;<span translate="global.menu.admin.logs">Logs</span></a></li>
                        <li ui-sref-active="active"><a ui-sref="docs"><span class="glyphicon glyphicon-book"></span>
                            &#xA0;<span translate="global.menu.admin.apidocs">API Docs</span></a></li>
                    </ul>
                </li>
                <!--<li ui-sref-active="active" class="dropdown pointer" ng-controller="LanguageController">-->
                    <!--<a class="dropdown-toggle" data-toggle="dropdown" href="">-->
                        <!--<span>-->
                            <!--<span style="font-size: 18px;" class="glyphicon glyphicon-flag"></span>-->
                            <!--<span class="hidden-tablet" translate="global.menu.language">Language</span>-->
                            <!--<b class="caret"></b>-->
                        <!--</span>-->
                    <!--</a>-->
                    <!--<ul class="dropdown-menu">-->
                        <!--<li active-menu="{{language}}" ng-repeat="language in languages">-->
                            <!--<a href="" ng-click="changeLanguage(language)">{{'language.' + language| translate}}</a>-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</li>-->
            </ul>
        </div>
    </div>
</nav>
