<div ng-cloak>
    <h1 class="text-center">Animal identification</h1>

    <div ng-show="errorMsg === true">
        <p class="text-center">
            Sorry, no image is available to you in this game mode at this time.
        </p>
        <div style="width: 25%; margin: 0 auto;">
            <a class="btn btn-primary btn-lg" ui-sref="home" style="width: 100%;">Back to the menu</a>
        </div>
    </div>

    <div id="controls" class="ol-control control-panel" ng-show="errorMsg === false">
        <button type="button" ng-show="displayControls" ng-click="displayControls = !displayControls">&#x25B2;</button>
        <button type="button" ng-hide="displayControls" ng-click="displayControls = !displayControls">&#x25BC;</button>

        <div ng-show="displayControls">
            <div style="width: 300px;">
                <div class="btn-group btn-group-justified">
                    <label class="btn blue" style="border-top-right-radius: 0px;border-bottom-left-radius: 0px;border-bottom-right-radius: 0px;"
                           ng-model="radioModel.selected" btn-radio="'Snail'" uncheckable ng-disabled="snails === undefined">
                        <span class="glyphicon glyphicon-pencil" ng-show="radioModel.selected === 'Snail'"></span>
                        <span class="glyphicon glyphicon-lock" ng-show="snails === undefined"></span>
                        Snail
                    </label>
                    <label class="btn green" style="border-top-left-radius: 0px;border-bottom-left-radius: 0px;border-bottom-right-radius: 0px;"
                           ng-model="radioModel.selected" btn-radio="'Mussel'" uncheckable ng-disabled="mussels === undefined">
                        <span class="glyphicon glyphicon-pencil" ng-show="radioModel.selected === 'Mussel'"></span>
                        <span class="glyphicon glyphicon-lock" ng-show="mussels === undefined"></span>
                        Mussel
                    </label>
                </div>
                <div class="btn-group btn-group-justified">
                    <label class="btn yellow" style="border-top-left-radius: 0px;border-top-right-radius: 0px;border-bottom-right-radius: 0px;"
                           ng-model="radioModel.selected" btn-radio="'Crab'" uncheckable ng-disabled="crabs === undefined">
                        <span class="glyphicon glyphicon-pencil" ng-show="radioModel.selected === 'Crab'"></span>
                        <span class="glyphicon glyphicon-lock" ng-show="crabs === undefined"></span>
                        Crab
                    </label>
                    <label class="btn purple" style="border-top-left-radius: 0px;border-top-right-radius: 0px;border-bottom-left-radius: 0px;"
                           ng-model="radioModel.selected" btn-radio="'Burrow'" uncheckable ng-disabled="burrows === undefined">
                        <span class="glyphicon glyphicon-pencil" ng-show="radioModel.selected === 'Burrow'"></span>
                        <span class="glyphicon glyphicon-lock" ng-show="burrows === undefined"></span>
                        Burrow
                    </label>
                </div>
            </div>

            <hr/>

            <div style="margin: 0 auto; width: 128px; height: 128px; background-color: lightgrey;">
                <img ng-show="radioModel.selected !== null" ng-src="images/animals/{{radioModel.selected}}.jpg" />
                <a class="btn btn-primary" type="button" ng-show="radioModel.selected !== null" ng-click="showModal()">More details</a>
            </div>

            <hr/>

            <accordion>
                <accordion-group is-open="true">
                    <accordion-heading>
                        Features<span class="badge pull-right">{{snails.length + mussels.length + crabs.length + burrows.length}}</span>
                    </accordion-heading>
                    <div class="list-group" style="overflow: auto; height: 175px;">
                        <a ng-repeat="burrow in burrows" class="list-group-item"
                           ng-mouseenter="highlightFeature('Burrow',$index,true)"
                           ng-mouseleave="highlightFeature('Burrow',$index,false)"
                           ng-click="panToFeature('Burrow',$index)">
                            Burrow-{{$index}}
                            <label class="btn btn-xs btn-danger pull-right tag" ng-click="removeFeature('Burrow',$index)">
                                <span class="glyphicon glyphicon-remove-sign"></span>
                            </label>
                        </a>
                        <a ng-repeat="crab in crabs" class="list-group-item"
                           ng-mouseenter="highlightFeature('Crab',$index,true)"
                           ng-mouseleave="highlightFeature('Crab',$index,false)"
                           ng-click="panToFeature('Crab',$index)">
                            Crab-{{$index}}
                            <label class="btn btn-xs btn-danger pull-right tag" ng-click="removeFeature('Crab',$index)">
                                <span class="glyphicon glyphicon-remove-sign"></span>
                            </label>
                        </a>
                        <a ng-repeat="mussel in mussels" class="list-group-item"
                           ng-mouseenter="highlightFeature('Mussel',$index,true)"
                           ng-mouseleave="highlightFeature('Mussel',$index,false)"
                           ng-click="panToFeature('Mussel',$index)">
                            Mussel-{{$index}}
                            <label class="btn btn-xs btn-danger pull-right tag" ng-click="removeFeature('Mussel',$index)">
                                <span class="glyphicon glyphicon-remove-sign"></span>
                            </label>
                        </a>
                        <a ng-repeat="snail in snails" class="list-group-item"
                           ng-mouseenter="highlightFeature('Snail',$index,true)"
                           ng-mouseleave="highlightFeature('Snail',$index,false)"
                           ng-click="panToFeature('Snail',$index)">
                            Snail-{{$index}}
                            <label class="btn btn-xs btn-danger pull-right tag" ng-click="removeFeature('Snail',$index)">
                                <span class="glyphicon glyphicon-remove-sign"></span>
                            </label>
                        </a>
                    </div>
                </accordion-group>
            </accordion>

            <hr/>

            <div>
                <a class="btn btn-default" ng-click="submit()">Submit</a> <a class="btn btn-default" ng-click="skip()">Skip</a>
            </div>
        </div>
    </div>

    <div id="options" class="ol-control options-panel" ng-show="errorMsg === false">
        <button type="button" ng-show="displayOptions" ng-click="displayOptions = !displayOptions" style="float: right;">
            <span class="glyphicon glyphicon-triangle-top"></span>
        </button>
        <button type="button" ng-hide="displayOptions" ng-click="displayOptions = !displayOptions" style="float: right;">
            <span class="glyphicon glyphicon-triangle-bottom"></span>
        </button>
        <div ng-show="displayOptions" style="clear: both;">
            <ul class="list-unstyled">
                <li ng-show="crabs !== undefined">
                    <input type="checkbox" id="crabsCheckbox" ng-model="showCrab"><label for="crabsCheckbox">Show crabs</label>
                </li>
                <li ng-show="burrows !== undefined">
                    <input type="checkbox" id="burrowsCheckbox" ng-model="showBurrow"><label for="burrowsCheckbox">Show burrows</label>
                </li>
                <li ng-show="mussels !== undefined">
                    <input type="checkbox" id="musselsCheckbox" ng-model="showMussel"><label for="musselsCheckbox">Show mussels</label>
                </li>
                <li ng-show="snails !== undefined">
                    <input type="checkbox" id="snailsCheckbox" ng-model="showSnail"><label for="snailsCheckbox">Show snails</label>
                </li>
            </ul>
        </div>
    </div>

    <div>
        <div id="map" class="map" style="background-color: #9DA9A5;"></div>
    </div>

    <div class="modal fade" id="BurrowModal" tabindex="-1" role="dialog" aria-labelledby="myBurrowLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myBurrowLabel">Burrows</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <p class="lead"></p>
                            <p>
                                Les crabes des marais salés sont des espèces mobiles, dont l’activité varie en fonction de la marée
                                et de l’heure de la journée. Lorsqu’ils ne sont pas à la recherche de nourriture /en activité, ils
                                restent à l’abri dans leurs terriers. Ces galeries de terriers sont souvent creusées à proximité
                                d’éléments structurels durs (racines, coquilles de bivalves) qui en permettent le maintien. Ces
                                terriers leurs servent de refuges contre les prédateurs, la chaleur et l’inondation (marée haute)
                                et sont également utilisés pour la reproduction, le repos et l’hibernation. De par leurs comportements
                                (enfouissement, vie nocturne) et leur mobilité, il est difficile d’estimer l’abondance des crabes par
                                le dénombrement directe des individus. Néanmoins, le dénombrement des trous de crabes (l’entrée des
                                terriers) est un moyen indirect rapide et simple pour estimer la densité totale de crabes. Cependant
                                cette approche ne permet pas toujours de pouvoir identifier la (les) espèce(s) de crabe(s) ayant
                                creusé les trous dénombrés.
                            </p>

                            <p>
                                <strong>Les terriers des crabes violonistes</strong> peuvent faire jusqu’à 3cm de diamètre et 92 cm de profondeur.
                                Les terriers se terminent soit par une petite chambre soit sont connectés à d’autres terriers. Les
                                terriers sont souvent entourés par de larges billes de boue (5mm de diamètre) provenant de la récente
                                excavation des terriers par les crabes, et/ou par des billes de boue plus petites (2mm de diamètre)
                                résultant de leur activité d’alimentation. Certains terriers se prolongent en surface par de courtes
                                « cheminées » dont le rôle n’est pas encore bien compris.
                            </p>

                            <p>
                                <img src="images/animals/burrow1.png" style="width: 100%;">
                            </p>

                            <p>
                                <strong>Les terriers de l’espèce <em>Sesarma reticulatum</em></strong> sont plus larges (diamètres
                                supérieur à 4cm) que ceux des crabes violonistes. Ils sont généralement abondants sur les berges
                                des chenaux et se retrouvent jusque dans la zone moyenne des marais salés, préférentiellement associés
                                aux habitats à <em>Spartina alterniflora</em>. La profondeur des terriers avoisine généralement celle du système
                                racinaire de la végétation des marais salés ce qui permet à ces crabes de s’alimenter sur les racines
                                des plantes tout en étant à l’abri de la prédation. <em>Sesarma</em> est connu pour fortement consommer les feuilles et
                                les racines de <em>Spartina</em> durant toute sa saison de croissance, ce qui peut entrainer une forte mortalité
                                de cette espèce végétale clé de voûte lorsque les crabes sont abondants. Depuis quelques années,
                                la densité de <em>Sesarma</em> a fortement augmenté dans les marais salés du Nord-Est des états unis, possiblement
                                dû à la pêche intensive de leurs prédateurs (e.g. <em>Callinectes sapidus</em>), causant une régression importante
                                des peuplements de <em>Spartina</em> le long des berges des chenaux qui se retrouvent alors fortement exposés à
                                l’érosion par la marée.
                            </p>

                            <p>
                                <img src="images/animals/burrow2.png" style="width: 100%;">
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="CrabModal" tabindex="-1" role="dialog" aria-labelledby="myCrabLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myCrabLabel">Crabs</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <p class="lead"></p>
                            <p>
                                Les crabes des marais salés sont des espèces mobiles, dont l’activité varie en fonction de la marée
                                et de l’heure de la journée. Lorsqu’ils ne sont pas à la recherche de nourriture /en activité, ils
                                restent à l’abri dans leurs terriers. Ces galeries de terriers sont souvent creusées à proximité
                                d’éléments structurels durs (racines, coquilles de bivalves) qui en permettent le maintien. Ces
                                terriers leurs servent de refuges contre les prédateurs, la chaleur et l’inondation (marée haute)
                                et sont également utilisés pour la reproduction, le repos et l’hibernation. De par leurs comportements
                                (enfouissement, vie nocturne) et leur mobilité, il est difficile d’estimer l’abondance des crabes par
                                le dénombrement directe des individus. Néanmoins, le dénombrement des trous de crabes (l’entrée des
                                terriers) est un moyen indirect rapide et simple pour estimer la densité totale de crabes. Cependant
                                cette approche ne permet pas toujours de pouvoir identifier la (les) espèce(s) de crabe(s) ayant
                                creusé les trous dénombrés.
                            </p>

                            <p>
                                <strong>Les terriers des crabes violonistes</strong> peuvent faire jusqu’à 3cm de diamètre et 92 cm de profondeur.
                                Les terriers se terminent soit par une petite chambre soit sont connectés à d’autres terriers. Les
                                terriers sont souvent entourés par de larges billes de boue (5mm de diamètre) provenant de la récente
                                excavation des terriers par les crabes, et/ou par des billes de boue plus petites (2mm de diamètre)
                                résultant de leur activité d’alimentation. Certains terriers se prolongent en surface par de courtes
                                « cheminées » dont le rôle n’est pas encore bien compris.
                            </p>

                            <p>
                                <img src="images/animals/burrow1.png" style="width: 100%;">
                            </p>

                            <p>
                                <strong>Les terriers de l’espèce <em>Sesarma reticulatum</em></strong> sont plus larges (diamètres
                                supérieur à 4cm) que ceux des crabes violonistes. Ils sont généralement abondants sur les berges
                                des chenaux et se retrouvent jusque dans la zone moyenne des marais salés, préférentiellement associés
                                aux habitats à <em>Spartina alterniflora</em>. La profondeur des terriers avoisine généralement celle du système
                                racinaire de la végétation des marais salés ce qui permet à ces crabes de s’alimenter sur les racines
                                des plantes tout en étant à l’abri de la prédation. <em>Sesarma</em> est connu pour fortement consommer les feuilles et
                                les racines de <em>Spartina</em> durant toute sa saison de croissance, ce qui peut entrainer une forte mortalité
                                de cette espèce végétale clé de voûte lorsque les crabes sont abondants. Depuis quelques années,
                                la densité de <em>Sesarma</em> a fortement augmenté dans les marais salés du Nord-Est des états unis, possiblement
                                dû à la pêche intensive de leurs prédateurs (e.g. <em>Callinectes sapidus</em>), causant une régression importante
                                des peuplements de <em>Spartina</em> le long des berges des chenaux qui se retrouvent alors fortement exposés à
                                l’érosion par la marée.
                            </p>

                            <p>
                                <img src="images/animals/burrow2.png" style="width: 100%;">
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="MusselModal" tabindex="-1" role="dialog" aria-labelledby="myMusselLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myMusselLabel">Mussels</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <p class="lead">Informations diagnostiques</p>
                            <p>
                                Nom scientifique: <em>Geukensia demissa</em> (= <em>Modiolus demissus</em>)<br />
                                Ordre: Mytiloida<br />
                                Famille: Mytilidae<br />
                                Nom vernaculaire: Moule rayée
                            </p>
                        </div>
                        <div class="col-md-6">
                            <img src="images/animals/mussel1.png" style="width: 100%;">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <p>
                                <strong>Habitat</strong>: <em>G. demissa</em> peut être observée depuis les berges des chenaux
                                jusqu’aux habitats de haute élévation du marais, mais sont majoritairement présents dans la
                                bordure basse du marais correspondant à la zone intermédiaire de battement des marées. La
                                limite supérieure de distribution de cette espèce est déterminée à la fois par le degré d’exposition
                                à des fortes températures et par la limitation en ressources nutritives pendant les périodes
                                d’inondation par la marée. Cependant, de petites populations peuvent se retrouver jusqu’à la
                                zone haute du marais : les individus s’y développent plus lentement mais présentent des durées
                                de vie plus longues et un taux de prédation réduit. Les moules ont le plus souvent le coquille
                                en partie enterrées dans le sédiment et attachées à la base des tiges de <em>S. alterniflora</em> et/ou
                                sont attachées entre elles par leur byssus en formant des agrégats denses. <em>G. demissa</em> et
                                <em>S. alterniflora</em> présentent une relation fortement mutualiste et sont toutes deux des espèces
                                clés du fonctionnement des écosystèmes de marais salés.
                            </p>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <img src="images/animals/mussel2.png" style="width: 100%;">
                        </div>
                        <div class="col-md-6">
                            <img src="images/animals/mussel3.png" style="width: 100%;">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <p>
                                <strong>Caractéristiques morphologiques</strong>: Les moules sont relativement larges, de
                                forme oblongue et peuvent mesurer jusqu’à 13cm de long. Elles présentent une coquille marron-noir
                                brillante souvent tachée de jaune ou de blanc. La surface de la coquille est caractérisée par
                                des stries marquées. L’intérieur de la coquille est bleu irisé à blanc argenté.
                            </p>

                            <p>
                                <strong>Alimentation</strong>: Les moules rayées s’alimentent en filtrant l’eau. Elles consomment
                                essentiellement des micro-organismes planctoniques et les particules organiques présentes dans
                                l’eau. Pendant la marée haute, elles ouvrent légèrement leur coquille et pompent l’eau à travers
                                leurs branchies où les particules sont sélectionnées et ingérées ou éliminées sous forme de pseudofèces.
                            </p>

                            <p>
                                <strong>Reproduction</strong>: Les moules rayées ne sont pas hermaphrodites. Elles produisent
                                les gamètes mâles et femelles directement dans l’eau où la fécondation a lieu. La reproduction
                                se déroule généralement au printemps avec un pic au milieu de l’été. Les larves se développent
                                dans l’eau entre juin et septembre. La reproduction a lieu une fois par saison. La durée de vie
                                maximale d’un individu est supérieure à 15 ans.
                            </p>

                            <p>
                                <strong>Taille maximale</strong>: 13 cm
                            </p>

                            <p>
                                <strong>Prédateurs</strong>: Les moules rayées ont plusieurs prédateurs dont les crabes
                                (<em>E. limosum</em>, <em>C. sapidus</em>), les échassiers et les mammifères.
                            </p>

                            <p>
                                <strong>Importance</strong>: Les moules sont considérées comme des bioindicateurs efficaces
                                de pollution en raison de leur sensibilité aux polluants et à l’accumulation de ceux-ci
                                dans leurs tissus. Les moules rayées sont des espèces clés des marais salés où elles jouent
                                un rôle important dans la survie d’espèces fondatrices telles que <em>S. alterniflora</em>. Ces deux
                                espèces présentent des relations mutualistes très fortes : les moules favorisent la stabilisation
                                du sol et l’accumulation des nutriments nécessaires pour les plantes tandis que la plante
                                sert de refuge contre les prédateurs et la dessiccation et accroit la teneur en oxygène dans
                                son voisinage local. Cette interaction mutualiste est fondamentale pour le maintien des
                                communautés du marais salé, la filtration des polluants dans l’eau et la protection contre
                                les tempêtes et l’élévation du niveau de la mer.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="SnailModal" tabindex="-1" role="dialog" aria-labelledby="mySnailLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="mySnailLabel">Snails</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <p class="lead">Informations diagnostiques</p>
                            <p>
                                Nom scientifique: <em>Littoraria irrorata</em><br />
                                Ordre: Gastropoda<br />
                                Famille: Littorinidae
                            </p>
                        </div>
                        <div class="col-md-6">
                            <img src="images/animals/snail1.png" style="width: 100%;">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <p>
                                <strong>Habitat</strong>: <em>L. irrorata</em> est une espèce d’escargot très commune, présente dans
                                les marais salés où elle se développe au niveau des patchs de <em>Spartina alterniflora</em>. Cette
                                espèce depuis la berge des chenaux jusqu’aux habitats de haut-marais, mais est plus abondante
                                aux élévations intermédiaires. Bien que souvent retrouvée en association avec <em>S. alterniflora</em>,
                                cet escargot peut s’observer sur plusieurs espèces végétales de marais, qu’elle colonise de
                                la base des tiges jusqu’au niveau des feuilles supérieures. Les individus se déplacent le
                                long des tiges pour échapper à l’eau pendant la marée haute et/ou les prédateurs; mais également
                                pour trouver plus d’oxygène lorsque la température de l’eau augmente. A marée basse, <em>L. irrorata</em>
                                s’enferme dans sa coquille qui peut rester exondée et exposée au soleil pendant plusieurs heures.
                            </p>

                            <p>
                                <img src="images/animals/snail2.png" style="width: 100%;">
                            </p>

                            <p>
                                <strong>Caractéristiques morphologiques</strong>: <em>L. irrorata</em> peut faire jusqu’à 32 mm de long.
                                Les individus présentent une coquille large et épaisse de forme conique, plus longue que large
                                et présentant une ouverture ovale. Les spirales de la coquille sont plates et présentent 8 à
                                10 tours. La coquille est terne, le plus souvent blanc grisâtre. Elle peut prendre une coloration
                                verdâtre lorsqu’une fine couche d’algues s’y développe.
                            </p>

                            <p>
                                <strong>Alimentation</strong>: Les escargots se nourrissent des microalgues et les détritus
                                trouvés à la surface du sol et des plantes du marais. Ils peuvent également brouter les colonies
                                de champignons se développant sur les feuilles de <em>S. alterniflora</em>. Cette action occasionne
                                cependant des blessures via la radula des escargots sur les feuilles favorisant leur attaque
                                par des pathogènes et réduisant ainsi la productivité de ces plantes, voire causant leur mortalité.
                            </p>

                            <p>
                                <strong>Reproduction</strong>: Les escargots sont hermaphrodites et peuvent se reproduire pendant tout l’été.
                            </p>

                            <p>
                                <strong>Taille maximale</strong>: 32 mm
                            </p>

                            <p>
                                <strong>Prédateurs</strong>: Crabes (<em>A.cinereum</em>, <em>E. limosum</em>, <em>C. sapidus</em>), poissons, oiseaux et mammifères.
                            </p>

                            <p>
                                <strong>Importance</strong>: Les escargots sont des bioindicateurs de la santé de l’écosystème
                                marais salé. Ce sont des éléments majeurs dans la décomposition des feuilles de <em>S. alterniflora</em>
                                à partir des interactions mutualistes des escargots avec les champignons des feuilles. Lorsque
                                les prédateurs sont supprimés (e.g. crabes), les escargots prolifèrent et ont un impact fortement
                                négatif sur l’espèce fondatrice, <em>S. alterniflora</em>.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
