<div ng-cloak>
    <h1 class="text-center">Identification d'animaux</h1>

    <div ng-show="errorMsg === true">
        <p class="text-center">
            Désolé, aucune image n'a été trouvée dans ce mode.
        </p>
        <div style="width: 25%; margin: 0 auto;">
            <a class="btn btn-primary btn-lg" ui-sref="home" style="width: 100%;">Retour à l'accueil</a>
        </div>
    </div>

    <div id="controls" class="ol-control control-panel" ng-show="errorMsg === false">
        <button type="button" ng-show="displayControls" ng-click="displayControls = !displayControls">&#x25B2;</button>
        <button type="button" ng-hide="displayControls" ng-click="displayControls = !displayControls">&#x25BC;</button>

        <div ng-show="displayControls">
            <div style="width: 300px;">
                <div class="btn-group btn-group-justified">
                    <label class="btn blue" style="border-top-right-radius: 0px;border-bottom-left-radius: 0px;border-bottom-right-radius: 0px;"
                           ng-model="radioModel.selected" btn-radio="'Snail'" uncheckable ng-disabled="snails === undefined">
                        <span class="glyphicon glyphicon-pencil" ng-show="radioModel.selected === 'Snail'"></span>
                        <span class="glyphicon glyphicon-lock" ng-show="snails === undefined"></span>
                        Escargot
                    </label>
                    <label class="btn green" style="border-top-left-radius: 0px;border-bottom-left-radius: 0px;border-bottom-right-radius: 0px;"
                           ng-model="radioModel.selected" btn-radio="'Mussel'" uncheckable ng-disabled="mussels === undefined">
                        <span class="glyphicon glyphicon-pencil" ng-show="radioModel.selected === 'Mussel'"></span>
                        <span class="glyphicon glyphicon-lock" ng-show="mussels === undefined"></span>
                        Moule
                    </label>
                </div>
                <div class="btn-group btn-group-justified">
                    <label class="btn yellow" style="border-top-left-radius: 0px;border-top-right-radius: 0px;border-bottom-right-radius: 0px;"
                           ng-model="radioModel.selected" btn-radio="'Crab'" uncheckable ng-disabled="crabs === undefined">
                        <span class="glyphicon glyphicon-pencil" ng-show="radioModel.selected === 'Crab'"></span>
                        <span class="glyphicon glyphicon-lock" ng-show="crabs === undefined"></span>
                        Crabe
                    </label>
                    <label class="btn purple" style="border-top-left-radius: 0px;border-top-right-radius: 0px;border-bottom-left-radius: 0px;"
                           ng-model="radioModel.selected" btn-radio="'Burrow'" uncheckable ng-disabled="burrows === undefined">
                        <span class="glyphicon glyphicon-pencil" ng-show="radioModel.selected === 'Burrow'"></span>
                        <span class="glyphicon glyphicon-lock" ng-show="burrows === undefined"></span>
                        Terrier
                    </label>
                </div>
            </div>

            <hr/>

            <div style="margin: 0 auto; width: 128px; height: 128px; background-color: lightgrey;">
                <img ng-show="radioModel.selected !== null" ng-src="images/animals/{{radioModel.selected}}.jpg" />
                <a ng-show="radioModel.selected !== null" ng-click="showModal()">Plus de détails</a>
            </div>

            <hr/>

            <accordion>
                <accordion-group is-open="true">
                    <accordion-heading>
                        Occurrences<span class="badge pull-right">{{snails.length + mussels.length + crabs.length + burrows.length}}</span>
                    </accordion-heading>
                    <div class="list-group" style="overflow: auto; height: 175px;">
                        <a ng-repeat="burrow in burrows" class="list-group-item"
                           ng-mouseenter="highlightFeature('Burrow',$index,true)"
                           ng-mouseleave="highlightFeature('Burrow',$index,false)"
                           ng-click="panToFeature('Burrow',$index)">
                            Terrier-{{$index}}
                            <label class="btn btn-xs btn-danger pull-right tag" ng-click="removeFeature('Burrow',$index)">
                                <span class="glyphicon glyphicon-remove-sign"></span>
                            </label>
                        </a>
                        <a ng-repeat="crab in crabs" class="list-group-item"
                           ng-mouseenter="highlightFeature('Crab',$index,true)"
                           ng-mouseleave="highlightFeature('Crab',$index,false)"
                           ng-click="panToFeature('Crab',$index)">
                            Crabe-{{$index}}
                            <label class="btn btn-xs btn-danger pull-right tag" ng-click="removeFeature('Crab',$index)">
                                <span class="glyphicon glyphicon-remove-sign"></span>
                            </label>
                        </a>
                        <a ng-repeat="mussel in mussels" class="list-group-item"
                           ng-mouseenter="highlightFeature('Mussel',$index,true)"
                           ng-mouseleave="highlightFeature('Mussel',$index,false)"
                           ng-click="panToFeature('Mussel',$index)">
                            Moule-{{$index}}
                            <label class="btn btn-xs btn-danger pull-right tag" ng-click="removeFeature('Mussel',$index)">
                                <span class="glyphicon glyphicon-remove-sign"></span>
                            </label>
                        </a>
                        <a ng-repeat="snail in snails" class="list-group-item"
                           ng-mouseenter="highlightFeature('Snail',$index,true)"
                           ng-mouseleave="highlightFeature('Snail',$index,false)"
                           ng-click="panToFeature('Snail',$index)">
                            Escargot-{{$index}}
                            <label class="btn btn-xs btn-danger pull-right tag" ng-click="removeFeature('Snail',$index)">
                                <span class="glyphicon glyphicon-remove-sign"></span>
                            </label>
                        </a>
                    </div>
                </accordion-group>
            </accordion>

            <hr/>

            <div>
                <a class="btn btn-default" ng-click="submit()">Soumettre</a> <a class="btn btn-default" ng-click="skip()">Passer</a>
            </div>
        </div>
    </div>

    <div id="options" class="ol-control options-panel" ng-show="errorMsg === false">
        <button type="button" ng-show="displayOptions" ng-click="displayOptions = !displayOptions" style="float: right;">
            <span class="glyphicon glyphicon-triangle-top"></span>
        </button>
        <button type="button" ng-hide="displayOptions" ng-click="displayOptions = !displayOptions" style="float: right;">
            <span class="glyphicon glyphicon-triangle-bottom"></span>
        </button>
        <div ng-show="displayOptions" style="clear: both;">
            <ul class="list-unstyled">
                <li ng-show="crabs !== undefined">
                    <input type="checkbox" id="crabsCheckbox" ng-model="showCrab"><label for="crabsCheckbox">Afficher les crabes</label>
                </li>
                <li ng-show="burrows !== undefined">
                    <input type="checkbox" id="burrowsCheckbox" ng-model="showBurrow"><label for="burrowsCheckbox">Afficher les terriers</label>
                </li>
                <li ng-show="mussels !== undefined">
                    <input type="checkbox" id="musselsCheckbox" ng-model="showMussel"><label for="musselsCheckbox">Afficher les moules</label>
                </li>
                <li ng-show="snails !== undefined">
                    <input type="checkbox" id="snailsCheckbox" ng-model="showSnail"><label for="snailsCheckbox">Afficher les escargots</label>
                </li>
            </ul>
        </div>
    </div>

    <div>
        <div id="map" class="map" style="background-color: #9DA9A5;"></div>
    </div>

    <div class="modal fade" id="BurrowModal" tabindex="-1" role="dialog" aria-labelledby="myBurrowLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myBurrowLabel">Burrows</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <p class="lead"></p>
                            <p>
                                Les crabes des marais salés sont des espèces mobiles, dont l’activité varie en fonction de la marée
                                et de l’heure de la journée. Lorsqu’ils ne sont pas à la recherche de nourriture /en activité, ils
                                restent à l’abri dans leurs terriers. Ces galeries de terriers sont souvent creusées à proximité
                                d’éléments structurels durs (racines, coquilles de bivalves) qui en permettent le maintien. Ces
                                terriers leurs servent de refuges contre les prédateurs, la chaleur et l’inondation (marée haute)
                                et sont également utilisés pour la reproduction, le repos et l’hibernation. De par leurs comportements
                                (enfouissement, vie nocturne) et leur mobilité, il est difficile d’estimer l’abondance des crabes par
                                le dénombrement directe des individus. Néanmoins, le dénombrement des trous de crabes (l’entrée des
                                terriers) est un moyen indirect rapide et simple pour estimer la densité totale de crabes. Cependant
                                cette approche ne permet pas toujours de pouvoir identifier la (les) espèce(s) de crabe(s) ayant
                                creusé les trous dénombrés.
                            </p>

                            <p>
                                <strong>Les terriers des crabes violonistes</strong> peuvent faire jusqu’à 3cm de diamètre et 92 cm de profondeur.
                                Les terriers se terminent soit par une petite chambre soit sont connectés à d’autres terriers. Les
                                terriers sont souvent entourés par de larges billes de boue (5mm de diamètre) provenant de la récente
                                excavation des terriers par les crabes, et/ou par des billes de boue plus petites (2mm de diamètre)
                                résultant de leur activité d’alimentation. Certains terriers se prolongent en surface par de courtes
                                « cheminées » dont le rôle n’est pas encore bien compris.
                            </p>

                            <p>
                                <img src="images/animals/burrow1.png" style="width: 100%;">
                            </p>

                            <p>
                                <strong>Les terriers de l’espèce <em>Sesarma reticulatum</em></strong> sont plus larges (diamètres
                                supérieur à 4cm) que ceux des crabes violonistes. Ils sont généralement abondants sur les berges
                                des chenaux et se retrouvent jusque dans la zone moyenne des marais salés, préférentiellement associés
                                aux habitats à <em>Spartina alterniflora</em>. La profondeur des terriers avoisine généralement celle du système
                                racinaire de la végétation des marais salés ce qui permet à ces crabes de s’alimenter sur les racines
                                des plantes tout en étant à l’abri de la prédation. <em>Sesarma</em> est connu pour fortement consommer les feuilles et
                                les racines de <em>Spartina</em> durant toute sa saison de croissance, ce qui peut entrainer une forte mortalité
                                de cette espèce végétale clé de voûte lorsque les crabes sont abondants. Depuis quelques années,
                                la densité de <em>Sesarma</em> a fortement augmenté dans les marais salés du Nord-Est des états unis, possiblement
                                dû à la pêche intensive de leurs prédateurs (e.g. <em>Callinectes sapidus</em>), causant une régression importante
                                des peuplements de <em>Spartina</em> le long des berges des chenaux qui se retrouvent alors fortement exposés à
                                l’érosion par la marée.
                            </p>

                            <p>
                                <img src="images/animals/burrow2.png" style="width: 100%;">
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="CrabModal" tabindex="-1" role="dialog" aria-labelledby="myCrabLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myCrabLabel">Crabs</h4>
                </div>
                <div class="modal-body">
                    <ul class="nav nav-tabs">
                        <li role="presentation" ng-repeat="tab in allTabs" ng-class="{active: tab===selectedTab}"><a ng-click="selectTab(tab)">{{tab}}</a></li>
                    </ul>
                    <div ng-show="selectedTab === 'Uca'">
                        <div class="row">
                            <div class="col-md-6">
                                <p class="lead">Informations diagnostiques</p>
                                <p>
                                    Nom scientifique:
                                    <ol>
                                        <li><em>Uca pugnax</em></li>
                                        <li><em>U. pugilator</em></li>
                                        <li><em>U. minax</em></li>
                                    </ol>
                                    Ordre: Decapode<br />
                                    Famille: Ocypodidae
                                </p>
                            </div>
                            <div class="col-md-6">
                                <img src="images/animals/crab1.png" style="width: 100%;">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <p>
                                    <strong>Habitat</strong>: Les crabes violonistes des marais sont communs et coexistent sur
                                    l’ensemble du marais. Cependant l’abondance des espèces varie le long du gradient d’élévation.
                                    Uca pugnax se trouvent préférentiellement sur les substrats boueux des habitats de bas marais
                                    sous la <em>Spartina</em>. <em>U. pugilator</em> préfère les substrats sableux des hauts marais.
                                    <em>U. minax</em> est le plus souvent retrouvé à la limite supérieure des hauts marais.
                                </p>

                                <p>
                                    <strong>Caractéristiques morphologiques</strong>: Les crabes violonistes (25 mm) présentent
                                    un dimorphisme sexuel : les pinces des femelles sont isomorphes tandis que chez le male une
                                    des pinces peut grossir jusqu’à atteindre la moitié du poids du corps.<br />
                                    <em>U. pugnax</em> est brun-olive, les pinces sont jaune brunâtre avec des extrémités blanche. Les mâles ont une tache bleue roi
                                    sur le centre de la carapace.<br />
                                    Les mâles <em>U. pugilator</em> sont de couleur vive, ayant une carapace grise tachetée de
                                    violet et brun et une grande pince grisâtre. Les femelles sont beaucoup plus ternes.<br />
                                    <em>U. minax</em> est marron, l'avant de la carapace est gris. Ses pinces ont les articulations rouges.
                                </p>

                                <p>
                                    <strong>Habitudes alimentaires</strong>: Ils sont généralement considérés comme détritivores.
                                    La petite pince des crabes récupère le sédiment pour l’amener aux pièces buccales. Tout ce
                                    qui est comestible est récupéré (algues, bactéries, champignons ou détritus en décomposition
                                    (<em>S. alterniflora</em>)). Le sédiment est ensuite rejeté sous forme de petites billes.
                                </p>

                                <p>
                                    <strong>Taille maximale</strong>: Carapace jusqu’à 35 mm de large
                                </p>

                                <p>
                                    <strong>Reproduction</strong>: Ils présentent des périodicités de reproduction correspondant
                                    aux phases lunaires et de marée.  La période de reproduction va de juin à septembre, débutant
                                    généralement 4 à 5 jours après les marées de printemps.  Les accouplements ont lieu toutes
                                    les 2 semaines environ. Après fécondations des œufs par les mâles, les femelles les couvent
                                    pendant 12-15 jours jusqu’à l’éclosion des larves.
                                </p>

                                <p>
                                    <strong>Prédateurs</strong>: Les crabes (<em>A. cinereum</em>, <em>E. limosum</em>, <em>C. sapidus</em>),
                                    les oiseaux (ralidés, aigrettes, hérons) et les ratons laveurs. Les larves sont aussi consommées par les poissons.
                                </p>

                                <p>
                                    <strong>Importance</strong>: Ces crabes sont les plus abondants des marais et régulent
                                    la production primaire (<em>Spartina</em> et autres...). Leur activité d'enfouissement favorise
                                    les processus de décomposition, l’oxygénation et le drainage des sols du marais. Ils
                                    régulent les flux d’énergie dans le marais, enrichissent le sédiment en matière organique
                                    et favorisent le turn-over des nutriments. Les crabes violonistes et <em>Spartina</em> semblent
                                    entretenir une relation de type mutualisme facultatif.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div ng-show="selectedTab === 'Sesarma'">
                        <div class="row">
                            <div class="col-md-6">
                                <p class="lead">Informations diagnostiques</p>
                                <p>
                                    Nom scientifique: <em>Sesarma reticulatum</em><br />
                                    Ordre: Decapode<br />
                                    Famille: Grapsidae
                                </p>
                            </div>
                            <div class="col-md-6">
                                <img src="images/animals/crab2.png" style="width: 100%;">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <p>
                                    <strong>Habitat</strong>: Ce crabe nocturne construit et habite des terriers élaborés
                                    dans les zones basses ou moyennes des marais dominées par <em>Spartina</em>.
                                </p>

                                <p>
                                    <strong>Caractéristiques morphologiques</strong>: Sa carapace (25 mm), est de couleur
                                    brun-violet et l’extrémité des pinces est blanc-jaunâtre. Ce crabe présente un dimorphisme
                                    sexuel : les males ont des pinces beaucoup plus grande que les femelles.
                                </p>

                                <p>
                                    <strong>Habitudes alimentaires</strong>: Principalement herbivores, ce crabe se nourrit
                                    des feuilles aériennes des plantes, et des racines souterraines depuis leurs terriers.
                                    Il consomme préférentiellement et abondamment <em>Spartina</em>, mais aussi des espèces comme
                                    <em>Juncus</em>, <em>Borrichia</em> ou <em>Salicornia</em> dans les habitats de mi-marais.
                                </p>

                                <p>
                                    <strong>Taille maximale</strong>: Carapace jusqu’à 32 mm de large
                                </p>

                                <p>
                                    <strong>Reproduction</strong>: Ils présentent des périodicités de reproduction correspondant
                                    aux phases lunaires et de marée.  La période de reproduction va de juin à septembre, débutant
                                    généralement 4 à 5 jours après les marées de printemps.  Les accouplements ont lieu toutes
                                    les 2 semaines environ. Après fécondations des œufs par les mâles, les femelles les couvent
                                    pendant 12-15 jours jusqu’à l’éclosion des larves.
                                </p>

                                <p>
                                    <strong>Prédateurs</strong>: De nombreux oiseaux, poissons, mammifères et des crabes de
                                    plus grandes tailles (<em>E. limosum</em>, <em>C. sapidus</em>). Les larves sont aussi des ressources
                                    alimentaires pour   bivalves filtreurs, poissons et autres zooplanctons.
                                </p>

                                <p>
                                    <strong>Importance</strong>: Une surpopulation de <em>S. reticulatum</em>, peut entraîner le
                                    déclin des habitats du marais où <em>Spartina</em> domine, favorisant alors l’érosion de la côte.
                                    Ce crabe participe aussi le remaniement du sol par les terriers qu’il réalise.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div ng-show="selectedTab === 'Armases'">
                        <div class="row">
                            <div class="col-md-6">
                                <p class="lead">Informations diagnostiques</p>
                                <p>
                                    Nom scientifique: <em>Armases cinereum</em> (= <em>S. cinereum</em>)<br />
                                    Ordre: Decapode<br />
                                    Famille: Grapsidae
                                </p>
                            </div>
                            <div class="col-md-6">
                                <img src="images/animals/crab3.png" style="width: 100%;">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <p>
                                    <strong>Habitat</strong>: Ce crabe nocturne et semi-terrestre ne fait pas de terrier et
                                    trouve protection sous la litière ou entre les rochers. Il se retrouve principalement
                                    au-dessus de la ligne des eaux, depuis les zones de bas marais jusque dans les forêts littorales.
                                </p>

                                <p>
                                    <strong>Caractéristiques morphologiques</strong>: Sa carapace est brune à olive avec
                                    des taches noires ou grisâtres. Les extrémités des pinces sont blanches. Cette espèce
                                    présente un dimorphisme sexuel : les males ont des pinces plus grandes que les femelles.
                                </p>

                                <p>
                                    <strong>Habitudes alimentaires</strong>: Omnivores, ces crabes consomment des débris
                                    végétaux frais ou en cours de décomposition (e.g. <em>Spartina</em>, <em>Juncus</em>), des champignons
                                    ou des proies animales telles que les crabes violonistes (<em>Uca spp.</em>), insectes, araignées
                                    ou escargots (<em>Melampus Bidentatus</em>, <em>Littoraria irrorata</em>).
                                </p>

                                <p>
                                    <strong>Taille maximale</strong>: Carapace jusqu’à 25 mm de large
                                </p>

                                <p>
                                    <strong>Reproduction</strong>: Ils présentent des périodicités de reproduction correspondant
                                    aux phases lunaires et de marée.  La période de reproduction va de juin à septembre, débutant
                                    généralement 4 à 5 jours après les marées de printemps.  Les accouplements ont lieu toutes
                                    les 2 semaines environ. Après fécondations des œufs par les mâles, les femelles les couvent
                                    pendant 12-15 jours jusqu’à l’éclosion des larves.
                                </p>

                                <p>
                                    <strong>Prédateurs</strong>: De nombreux oiseaux, poissons, mammifères et des crabes de
                                    plus grandes tailles (<em>E. limosum</em>, <em>C. sapidus</em>). Les larves sont aussi des ressources
                                    alimentaires pour   bivalves filtreurs, poissons et autres zooplanctons.
                                </p>

                                <p>
                                    <strong>Importance</strong>: Ce crabe semi-terrestre, omnivore et très mobile, joue un
                                    rôle important dans la régulation des flux d’énergie entre les différents niveaux trophiques
                                    (en tant que proie ou prédateur) et le long du gradient terrestre-marin.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div ng-show="selectedTab === 'Eurytium'">
                        <div class="row">
                            <div class="col-md-6">
                                <p class="lead">Informations diagnostiques</p>
                                <p>
                                    Nom scientifique: <em>Eurytium limosum</em><br />
                                    Ordre: Decapode<br />
                                    Famille: Xanthidae
                                </p>
                            </div>
                            <div class="col-md-6">
                                <img src="images/animals/crab4.png" style="width: 100%;">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <p>
                                    <strong>Habitat</strong>: Ce crabe vit principalement dans des terriers créés dans la
                                    zone intertidale, en particulier dans les peuplements de <em>Spartina</em>. Ce crabe peut se
                                    trouver sur les berges des chenaux, les portions basses du marais et plus rarement aux
                                    élévations plus hautes.
                                </p>

                                <p>
                                    <strong>Caractéristiques morphologiques</strong>: Sa carapace (37 mm) est de couleur
                                    noire-grisâtre, la partie basale de ses pattes de couleur jaune et l’extrémité de ses
                                    pinces jaune-orangé.
                                </p>

                                <p>
                                    <strong>Habitudes alimentaires</strong>: Leurs principales proies sont d’autres crabes
                                    et plus particulièrement le taxon Uca. Ils consomment également des polychètes, ostracodes,
                                    bivalves (e.g. <em>Geukensia demissa</em>), escargots (<em>M. bidentatus</em> et <em>L. irrorata</em>),
                                    mais aussi des détritus de plantes tels que <em>Spartina</em>.
                                </p>

                                <p>
                                    <strong>Taille maximale</strong>: Généralement inférieure à 50mm
                                </p>

                                <p>
                                    <strong>Reproduction</strong>: Ils présentent des périodicités de reproduction correspondant
                                    aux phases lunaires et de marée.  La période de reproduction va de juin à septembre, débutant
                                    généralement 4 à 5 jours après les marées de printemps.  Les accouplements ont lieu toutes
                                    les 2 semaines environ. Après fécondations des œufs par les mâles, les femelles les couvent
                                    pendant 12-15 jours jusqu’à l’éclosion des larves.
                                </p>

                                <p>
                                    <strong>Prédateurs</strong>: Les crabes (<em>C. sapidus</em>), oiseaux, et mammifères mais aussi
                                    par les bivalves filtreurs et les poissons durant leur stade larvaire.
                                </p>

                                <p>
                                    <strong>Importance</strong>: Cette espèce prédatrice régule la distribution et l’abondance
                                    des espèces benthiques dont il se nourri.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div ng-show="selectedTab === 'Callinectes'">
                        <div class="row">
                            <div class="col-md-6">
                                <p class="lead">Informations diagnostiques</p>
                                <p>
                                    Nom scientifique: <em>Callinectes sapidus</em><br />
                                    Ordre: Decapode<br />
                                    Famille: Portunidae
                                </p>
                            </div>
                            <div class="col-md-6">
                                <img src="images/animals/crab5.png" style="width: 100%;">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <p>
                                    <strong>Habitat</strong>: Ce crabe vit dans toutes les zones des estuaires (eau peu
                                    profonde et saumâtre, herbiers de salicorne, zones de vase). Les males matures préfèrent
                                    les chenaux, rivières et amont des estuaires. Hors saison de reproduction, les femelles
                                    tendent à rester dans les zones salées de l’aval des estuaires.  La zone peu profonde
                                    du marais constitue des nurseries pour les jeunes.
                                </p>

                                <p>
                                    <strong>Caractéristiques morphologiques</strong>: Ce crabe est grisâtre ou bleu-verdâtre,
                                    avec des épines rouges caractéristiques de chaque côté de sa carapace et des pinces bleues.
                                    La dernière paire de pattes sert de rame faisant de ces crabes d’excellents nageurs.
                                    Les individus présentent un dimorphisme sexuel au niveau de l’abdomen qui est long et
                                    fin chez les mâles, triangulaire chez les femelles immatures et rond chez les femelles matures.
                                    L’extrémité des pinces est rouge chez les femelles.
                                </p>

                                <p>
                                    <strong>Habitudes alimentaires</strong>: Omnivore, il consomme à la fois des plantes
                                    (e.g. <em>Spartina</em>) et des animaux tels que des bivalves (e.g. <em>Geukensia demissa</em>), des crustacés
                                    (e.g. crevettes, <em>Uca spp.</em>, <em>A. cinereum</em>, <em>E. limosum</em>, <em>C.
                                    sapidus</em>), poissons, escargots (e.g. <em>L. irrorata</em>, <em>M. bidentatus</em>), et des charognes.
                                </p>

                                <p>
                                    <strong>Taille maximale</strong>: Carapace jusqu’à 23 mm de large
                                </p>

                                <p>
                                    <strong>Reproduction</strong>: Pendant l’été, les femelles immatures migrent vers les
                                    zones amont des estuaires où les males résident. Après la reproduction, les femelles
                                    retournent pondre dans la partie aval des estuaires,  dans les chenaux et zones basses
                                    des marais.
                                </p>

                                <p>
                                    <strong>Prédateurs</strong>: Les grands mammifères (incluant les humains), les alligators,
                                    les oiseaux marins, les gros poissons, les autres <em>C.  sapidus</em>.
                                </p>

                                <p>
                                    <strong>Importance</strong>: Ces espèces prédatrices régulent les espèces benthiques
                                    dont ils se nourrissent.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="MusselModal" tabindex="-1" role="dialog" aria-labelledby="myMusselLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myMusselLabel">Mussels</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <p class="lead">Informations diagnostiques</p>
                            <p>
                                Nom scientifique: <em>Geukensia demissa</em> (= <em>Modiolus demissus</em>)<br />
                                Ordre: Mytiloida<br />
                                Famille: Mytilidae<br />
                                Nom vernaculaire: Moule rayée
                            </p>
                        </div>
                        <div class="col-md-6">
                            <img src="images/animals/mussel1.png" style="width: 100%;">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <p>
                                <strong>Habitat</strong>: <em>G. demissa</em> peut être observée depuis les berges des chenaux
                                jusqu’aux habitats de haute élévation du marais, mais sont majoritairement présents dans la
                                bordure basse du marais correspondant à la zone intermédiaire de battement des marées. La
                                limite supérieure de distribution de cette espèce est déterminée à la fois par le degré d’exposition
                                à des fortes températures et par la limitation en ressources nutritives pendant les périodes
                                d’inondation par la marée. Cependant, de petites populations peuvent se retrouver jusqu’à la
                                zone haute du marais : les individus s’y développent plus lentement mais présentent des durées
                                de vie plus longues et un taux de prédation réduit. Les moules ont le plus souvent le coquille
                                en partie enterrées dans le sédiment et attachées à la base des tiges de <em>S. alterniflora</em> et/ou
                                sont attachées entre elles par leur byssus en formant des agrégats denses. <em>G. demissa</em> et
                                <em>S. alterniflora</em> présentent une relation fortement mutualiste et sont toutes deux des espèces
                                clés du fonctionnement des écosystèmes de marais salés.
                            </p>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <img src="images/animals/mussel2.png" style="width: 100%;">
                        </div>
                        <div class="col-md-6">
                            <img src="images/animals/mussel3.png" style="width: 100%;">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <p>
                                <strong>Caractéristiques morphologiques</strong>: Les moules sont relativement larges, de
                                forme oblongue et peuvent mesurer jusqu’à 13cm de long. Elles présentent une coquille marron-noir
                                brillante souvent tachée de jaune ou de blanc. La surface de la coquille est caractérisée par
                                des stries marquées. L’intérieur de la coquille est bleu irisé à blanc argenté.
                            </p>

                            <p>
                                <strong>Alimentation</strong>: Les moules rayées s’alimentent en filtrant l’eau. Elles consomment
                                essentiellement des micro-organismes planctoniques et les particules organiques présentes dans
                                l’eau. Pendant la marée haute, elles ouvrent légèrement leur coquille et pompent l’eau à travers
                                leurs branchies où les particules sont sélectionnées et ingérées ou éliminées sous forme de pseudofèces.
                            </p>

                            <p>
                                <strong>Reproduction</strong>: Les moules rayées ne sont pas hermaphrodites. Elles produisent
                                les gamètes mâles et femelles directement dans l’eau où la fécondation a lieu. La reproduction
                                se déroule généralement au printemps avec un pic au milieu de l’été. Les larves se développent
                                dans l’eau entre juin et septembre. La reproduction a lieu une fois par saison. La durée de vie
                                maximale d’un individu est supérieure à 15 ans.
                            </p>

                            <p>
                                <strong>Taille maximale</strong>: 13 cm
                            </p>

                            <p>
                                <strong>Prédateurs</strong>: Les moules rayées ont plusieurs prédateurs dont les crabes
                                (<em>E. limosum</em>, <em>C. sapidus</em>), les échassiers et les mammifères.
                            </p>

                            <p>
                                <strong>Importance</strong>: Les moules sont considérées comme des bioindicateurs efficaces
                                de pollution en raison de leur sensibilité aux polluants et à l’accumulation de ceux-ci
                                dans leurs tissus. Les moules rayées sont des espèces clés des marais salés où elles jouent
                                un rôle important dans la survie d’espèces fondatrices telles que <em>S. alterniflora</em>. Ces deux
                                espèces présentent des relations mutualistes très fortes : les moules favorisent la stabilisation
                                du sol et l’accumulation des nutriments nécessaires pour les plantes tandis que la plante
                                sert de refuge contre les prédateurs et la dessiccation et accroit la teneur en oxygène dans
                                son voisinage local. Cette interaction mutualiste est fondamentale pour le maintien des
                                communautés du marais salé, la filtration des polluants dans l’eau et la protection contre
                                les tempêtes et l’élévation du niveau de la mer.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="SnailModal" tabindex="-1" role="dialog" aria-labelledby="mySnailLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="mySnailLabel">Snails</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <p class="lead">Informations diagnostiques</p>
                            <p>
                                Nom scientifique: <em>Littoraria irrorata</em><br />
                                Ordre: Gastropoda<br />
                                Famille: Littorinidae
                            </p>
                        </div>
                        <div class="col-md-6">
                            <img src="images/animals/snail1.png" style="width: 100%;">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <p>
                                <strong>Habitat</strong>: <em>L. irrorata</em> est une espèce d’escargot très commune, présente dans
                                les marais salés où elle se développe au niveau des patchs de <em>Spartina alterniflora</em>. Cette
                                espèce depuis la berge des chenaux jusqu’aux habitats de haut-marais, mais est plus abondante
                                aux élévations intermédiaires. Bien que souvent retrouvée en association avec <em>S. alterniflora</em>,
                                cet escargot peut s’observer sur plusieurs espèces végétales de marais, qu’elle colonise de
                                la base des tiges jusqu’au niveau des feuilles supérieures. Les individus se déplacent le
                                long des tiges pour échapper à l’eau pendant la marée haute et/ou les prédateurs; mais également
                                pour trouver plus d’oxygène lorsque la température de l’eau augmente. A marée basse, <em>L. irrorata</em>
                                s’enferme dans sa coquille qui peut rester exondée et exposée au soleil pendant plusieurs heures.
                            </p>

                            <p>
                                <img src="images/animals/snail2.png" style="width: 100%;">
                            </p>

                            <p>
                                <strong>Caractéristiques morphologiques</strong>: <em>L. irrorata</em> peut faire jusqu’à 32 mm de long.
                                Les individus présentent une coquille large et épaisse de forme conique, plus longue que large
                                et présentant une ouverture ovale. Les spirales de la coquille sont plates et présentent 8 à
                                10 tours. La coquille est terne, le plus souvent blanc grisâtre. Elle peut prendre une coloration
                                verdâtre lorsqu’une fine couche d’algues s’y développe.
                            </p>

                            <p>
                                <strong>Alimentation</strong>: Les escargots se nourrissent des microalgues et les détritus
                                trouvés à la surface du sol et des plantes du marais. Ils peuvent également brouter les colonies
                                de champignons se développant sur les feuilles de <em>S. alterniflora</em>. Cette action occasionne
                                cependant des blessures via la radula des escargots sur les feuilles favorisant leur attaque
                                par des pathogènes et réduisant ainsi la productivité de ces plantes, voire causant leur mortalité.
                            </p>

                            <p>
                                <strong>Reproduction</strong>: Les escargots sont hermaphrodites et peuvent se reproduire pendant tout l’été.
                            </p>

                            <p>
                                <strong>Taille maximale</strong>: 32 mm
                            </p>

                            <p>
                                <strong>Prédateurs</strong>: Crabes (<em>A.cinereum</em>, <em>E. limosum</em>, <em>C. sapidus</em>), poissons, oiseaux et mammifères.
                            </p>

                            <p>
                                <strong>Importance</strong>: Les escargots sont des bioindicateurs de la santé de l’écosystème
                                marais salé. Ce sont des éléments majeurs dans la décomposition des feuilles de <em>S. alterniflora</em>
                                à partir des interactions mutualistes des escargots avec les champignons des feuilles. Lorsque
                                les prédateurs sont supprimés (e.g. crabes), les escargots prolifèrent et ont un impact fortement
                                négatif sur l’espèce fondatrice, <em>S. alterniflora</em>.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
