<div ng-cloak>

    <img src="images/ludecol-banner.jpg" style="width:100%;">

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a data-toggle="modal" data-target="#tutorialModal">Tutorial</a></li>
                    <li><a data-toggle="modal" data-target="#presentationModal">Presentation</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <div ng-switch="isAuthenticated()">

        <div ng-switch-when="false">
            <div class="alert alert-warning" translate="global.messages.info.register">
                Don't have an account? <a href=\"#/register\">Register</a>
            </div>
        </div>

        <div ng-switch-when="true">

            <h2 class="text-center">Choose a game mode</h2>

            <div style="width: 50%; margin: 0 auto; min-width: 200px;">
                <ul class="nav nav-pills">
                    <li style="padding: 2px; width: 49%; height: auto;">
                        <button class="btn btn-primary btn-lg" ng-click="isTrainingCollapsed = !isTrainingCollapsed" style="width: 100%;">Practice</button>
                        <ul class="width" collapse="isTrainingCollapsed" style="list-style-type: none; padding: 0; margin: 0 auto; width: 75%">
                            <li style="padding: 1px;">
                                <a ui-sref="training-animal-identification" class="btn btn-success" style="width: 100%;">Animals</a>
                            </li>
                            <li style="padding: 1px;">
                                <a ui-sref="training-plant-identification" class="btn btn-success" style="width: 100%;">Plants</a>
                            </li>
                        </ul>
                    </li>
                    <li style="padding: 2px; width: 49%;">
                        <button class="btn btn-primary btn-lg" ng-click="isPlayCollapsed = !isPlayCollapsed" style="width: 100%;">Play</button>
                        <ul class="width" collapse="isPlayCollapsed" style="list-style-type: none; padding: 0; margin: 0 auto; width: 75%">
                            <!--<li style="padding: 1px;">-->
                                <!--<a ui-sref="all-stars" class="btn btn-success" style="width: 100%;">-->
                                    <!--All-stars-->
                                <!--</a>-->
                            <!--</li>-->
                            <li style="padding: 1px;">
                                <a ui-sref="animal-identification" class="btn btn-success" style="width: 100%;">
                                    Animals
                                </a>
                            </li>
                            <li style="padding: 1px;">
                                <a ui-sref="plant-identification" class="btn btn-success" style="width: 100%;">
                                    Plants
                                </a>
                            </li>
                        </ul>
                    </li>
                    <!--<li style="padding: 2px; width: 33%;">-->
                        <!--<button class="btn btn-primary btn-lg" ng-click="isExpertCollapsed = !isExpertCollapsed" style="width: 100%;">Expert</button>-->
                        <!--<ul class="width" collapse="isExpertCollapsed" style="list-style-type: none; padding: 0; margin: 0 auto; width: 75%">-->
                            <!--<li style="padding: 1px;">-->
                                <!--<a ui-sref="expert-all-stars" class="btn btn-success" style="width: 100%;">All-stars</a>-->
                            <!--</li>-->
                            <!--<li style="padding: 1px;">-->
                                <!--<a ui-sref="expert-animal-identification" class="btn btn-success" style="width: 100%;">Animals</a>-->
                            <!--</li>-->
                            <!--<li style="padding: 1px;">-->
                                <!--<a ui-sref="expert-plant-identification" class="btn btn-success" style="width: 100%;">Plants</a>-->
                            <!--</li>-->
                        <!--</ul>-->
                    <!--</li>-->
                </ul>
            </div>

            <!--<div style="width: 25%; margin: 0 auto; padding: 100px 0;">-->
                <!--<a ui-sref="feedback" class="btn btn-primary btn-lg" style="width: 100%;">Give us feedback!</a>-->
            <!--</div>-->
        </div>
    </div>

    <div class="modal fade" id="tutorialModal" tabindex="-1" role="dialog" aria-labelledby="myTutorialLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myTutorialLabel">Tutorial</h4>
                </div>
                <div class="modal-body">
                    <h2>Levels of play</h2>

                    <h3>Practice</h3>
                    <p>
                        The Practice level of play allows you to train on pictures that have already been treated.
                        You are provided with the number of occurrences you have to find for each species.
                        Upon submission, each correct occurrence will be saved and your score will be reduced according to the number
                        of wrong occurrences you submitted, to a minimum of 50. This score will be awarded once you find all occurrences.
                    </p>

                    <h3>Normal</h3>
                    <p>
                        In the Normal level of play, you are tasked with the exploration of pictures that have not yet been processed.
                        Your submissions will be aggregated with those of other players and will help players in the Expert level decide
                        on a final verdict. You will be awarded a score between 0 and 100, depicting how close you were to the correct answer.
                        This score is awarded once the picture you played on has been corrected by an Expert player.
                    </p>

                    <h2>Game modes</h2>

                    <h3>Animal Identification</h3>
                    <p>
                        In the Animal Identification game mode, the goal is to pin-point each occurrence of the members of a given species.
                    </p>

                    <h3>Plant Identification</h3>
                    <p>
                        In the Plant Identification game mode, you have to fill a presence grid by tagging each cell.
                    </p>

                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="presentationModal" tabindex="-1" role="dialog" aria-labelledby="myPresentationLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myPresentationLabel">Presentation</h4>
                </div>
                <div class="modal-body">
                    <p>
                        Marsh ecosystems are particularly sensitive to climate change.
                        Species distribution are indeed strongly dependent on the extent
                        of high tides and on their interactions with other species.
                        In coastal habitats, one manifestation of climate change is
                        accelerating sea level rise, this long-term slow rise being
                        hidden within much greater annual variation. In the Long Term
                        Ecological Research Site “Georgia Coastal Ecosystems”, long-term
                        observation are made in order to analyze the impact of climate
                        change on this ecosystem functioning. This game will help thanks
                        to you to collect useful data for studying this impact.
                    </p>
                    <p>
                        More precisely, we set up an annual survey based on images taken
                        rigorously on the same site every year since 2010. Together with
                        the climatic and soil data collected on the site, this survey will
                        help to analyse the ecological processes linked with species
                        distribution and their interactions (for instance trophic interactions).
                        Thanks to the game, we will get a huge amount of ecological data of
                        interests in order to document species distribution and investigate
                        with an unprecedented accuracy the mechanisms underlying their spatial
                        patterns. In the figure below, you may show the design for image collection.
                    </p>
                    <figure>
                        <img src="images/details.jpg" width="100%">
                        <figcaption>
                            Image database presentation on the salt marsh of LTER GCE site.
                            A-study area; B-plant community of the salt marsh;
                            C-image mosaic; D-image to analyse with the game
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </div>
</div>
